<div class="footerWrap">
  <div class="footerCon">
    <ul class="footerMenu">
      <li>
        <a href="#"><strong>개인정보처리방침</strong></a>
      </li>
      <li><a href="#">이용약관</a></li>
      <li><a href="#">법적고지</a></li>
      <li><a href="#">이메일무단수집거부</a></li>
    </ul>
    <ul class="subscribe">
      <li>LG Subscribe</li>
      <li class="scribeBox">
        <span class="inputBox type2">
          <label for="subscribe">LG Subscribe</label>
          <input
            type="text"
            placeholder="이메일을 입력하시면 LG의 채용소식을 가장 빠르게 만날 수 있습니다."
            id="subscribe"
          />
        </span>
        <a href="#" class="btn type2 round">구독하기</a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <p><span>LG</span>Careers</p>
    <span>Copyright ⓒ Careers LG. All Rights Reserved.</span>
  </div>
</div>
