<div id="skipNav">
  <p><a href="#mainContainer">본문바로가기</a></p>
  <p><a href="#gnb">주메뉴바로가기</a></p>
</div>
<header id="header">
  <ul class="headerWrap">
    <li class="logo">
      <a href="#" title="메인으로"><span>LG</span>Careers</a>
    </li>
    <li id="gnb">
      <ul>
        <li>
          <a href="#">Cultrue</a>
          <ul>
            <li><a href="#">2depth</a></li>
            <li><a href="#">2depth</a></li>
            <li><a href="#">2depth</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Channel</a>
          <ul>
            <li><a href="#">2depth</a></li>
            <li><a href="#">2depth</a></li>
            <li><a href="#">2depth</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Story</a>
          <ul>
            <li><a href="#">2depth</a></li>
            <li><a href="#">2depth</a></li>
            <li><a href="#">2depth</a></li>
          </ul>
        </li>
        <li>
          <a href="#">People</a>
          <ul>
            <li><a href="#">2depth</a></li>
            <li><a href="#">2depth</a></li>
            <li><a href="#">2depth</a></li>
          </ul>
        </li>
        <li class="aPoint"><a href="#">Apply</a></li>
      </ul>
    </li>
    <li class="logMenu">
      <a href="#">로그인<span></span>회원가입</a>
    </li>
  </ul>
</header>
