@import "_variables", "_mixin";

#header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.1);

    .headerWrap {
        display: flex;
        line-height: 8rem;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;

        .logo {}

        #gnb {
            ul {
                display: flex;
            }
        }
    }
}