@import "_variables", "_mixin";
body,
html {
  height: 100%;
}

/* slick */
.slick-slider {
  position: relative;
}
.slick-list {
  overflow: hidden;
  position: relative;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
}

.mainPage01 {
  width: 100%;
  height: 100%;
  padding-top: 8rem;
}

.mainPage02 {
  width: 100%;
  height: 100%;
}

.mainPage03 {
  width: 100%;
  height: 100%;
}

.mainPage04 {
  width: 100%;
  height: 100%;
}
.mainNav {
  position: fixed;
  top: 10rem;
  left: 5rem;
}
