<h2>06. Bullet</h2>
<div>
  <p class="subTitle1 mB10">1) Dot Bullet class="typeDot"</p>
  <ul class="typeDot">
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
  </ul>
  <p class="subTitle1 mB10 mT10">2) Hyphen Bullet class="typeHy"</p>
  <ul class="typeHy">
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
  </ul>
  <p class="subTitle1 mB10 mT10">3) Number Bullet class="typeNum"</p>
  <ol class="typeNum">
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
    <li>내용내용내용내용내용</li>
  </ol>
</div>
