<h2>07. Pagination</h2>
<div class="paging">
  <ul>
    <li>
      <a href="#">&lt;&lt;</a>
    </li>
    <li class="prev_btn">
      <a href="#">&lt;</a>
    </li>
    <li class="paging_num paging_num_on">
      <a href="#">1</a>
    </li>
    <li class="paging_num">
      <a href="#">2</a>
    </li>
    <li class="paging_num">
      <a href="#">3</a>
    </li>
    <li class="paging_num">
      <a href="#">4</a>
    </li>
    <li class="paging_num">
      <a href="#">5</a>
    </li>
    <li class="next_btn">
      <a href="#">&gt;</a>
    </li>
    <li>
      <a href="#">&gt;&gt;</a>
    </li>
  </ul>
</div>
