<h2>01. Typography</h2>
<div class="tabContent1">
  <ul>
    <li>
      <p>Heading 1</p>
      <span
        >font-size: 2.4rem / line-height : 3rem / font-weight:400 /
        Letter-spacing: -0.04rem</span
      >
    </li>
    <li>
      <h1 class="title1">2.4rem(24px)</h1>
      <h1 class="title1">가나다라마바사 Aa 123456789</h1>
    </li>
  </ul>
  <ul>
    <li>
      <p>Heading 2</p>
      <span
        >font-size: 2.2rem / line-height : 2.6rem / Letter-spacing:
        -0.04rem</span
      >
    </li>
    <li>
      <h2 class="title2">2.2rem(22px)</h2>
      <h2 class="title2">가나다라마바사 Aa 123456789</h2>
    </li>
  </ul>
  <ul>
    <li>
      <p>Heading 3</p>
      <span
        >font-size: 2rem / line-height : 2.4rem / Letter-spacing: -0.04rem</span
      >
    </li>
    <li>
      <h3 class="title3">2rem(20px)</h3>
      <h3 class="title3">가나다라마바사 Aa 123456789</h3>
    </li>
  </ul>
  <ul>
    <li>
      <p>SubTitle 1</p>
      <span
        >font-size: 1.8rem / line-height : 2.2rem / Letter-spacing:
        -0.04rem</span
      >
    </li>
    <li>
      <p class="subTitle1">1.8rem(18px)</p>
      <p class="subTitle1">가나다라마바사 Aa 123456789</p>
    </li>
  </ul>
  <ul>
    <li>
      <p>SubTitle 2</p>
      <span
        >font-size: 1.6rem / line-height : 2rem / Letter-spacing: -0.04rem</span
      >
    </li>
    <li>
      <p class="subTitle2">1.6rem(16px)</p>
      <p class="subTitle2">가나다라마바사 Aa 123456789</p>
    </li>
  </ul>
  <ul>
    <li>
      <p>SubText 1</p>
      <span
        >font-size: 1.4rem / line-height : 1.8rem / Letter-spacing:
        -0.04rem</span
      >
    </li>
    <li>
      <p class="subText1">1.4rem(14px)</p>
      <p class="subText1">가나다라마바사 Aa 123456789</p>
    </li>
  </ul>
</div>
