<h2>03. Form</h2>
<div>
  <p class="subTitle1 mB10">1) 체크박스 class="chkType1"</p>
  <ul class="mB10">
    <li class="chkType1">
      <input type="checkbox" id="chk1" value="" checked />
      <label for="chk1">체크박스</label>
    </li>
    <li class="chkType1">
      <input type="checkbox" id="chk2" value="" />
      <label for="chk2">체크박스</label>
    </li>
    <li class="chkType1">
      <input type="checkbox" id="chk2" value="" disabled />
      <label for="chk2">체크박스</label>
    </li>
  </ul>
  <p class="subTitle1 mB10">2) 라디오버튼 class="radioType1"</p>
  <ul class="mB10">
    <li class="radioType1">
      <input type="radio" id="rd1" name="radio" value="" checked />
      <label for="rd1">라디오버튼</label>
    </li>
    <li class="radioType1">
      <input type="radio" id="rd2" name="radio" value="" />
      <label for="rd2">라디오버튼</label>
    </li>
    <li class="radioType1">
      <input type="radio" id="rd3" name="radio" value="" disabled />
      <label for="rd3">라디오버튼</label>
    </li>
  </ul>
  <p class="subTitle1 mB10">3) select class="selectType1"</p>
  <div>
    <select class="selectType1">
      <option value="">--선택--</option>
      <option value="">선택1</option>
      <option value="">선택2</option>
      <option value="">선택3</option>
      <option value="">선택4</option>
      <option value="">선택5</option>
      <option value="">선택6</option>
    </select>
  </div>
</div>
