// _mixin.scss
@mixin hiddenText {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ellipsis2row {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin ellipsis3row {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin flexbox {
  display: flex;
  align-items: center;
}

//폰트
@mixin title {
  font-size: 4.8rem;
  letter-spacing: -0.02em;
  line-height: 6.24;
  font-weight: 600;
}

@mixin title0 {
  font-size: 4rem;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 600;
}

@mixin title1 {
  font-size: 3rem;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 700;
}

@mixin title2 {
  font-size: 2.2rem;
  letter-spacing: -0.02em;
  line-height: 1;
}

@mixin title3 {
  font-size: 2rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

@mixin subTitle1 {
  font-size: 1.8rem;
  letter-spacing: -0.02em;
  line-height: 1.3;
}

@mixin subTitle2 {
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  line-height: 1;
}

@mixin subText1 {
  font-size: 1.4rem;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

/* 기타 */
@mixin bgInclude($size) {
  background-position: center center;
  background-size: $size;
  background-repeat: no-repeat;
}