// _variables.scss
$BrandColorRed: #a50034;
$White: #ffffff;
$Black: #000000;
$LGBlack: #1D1D1B;

$RedD0:#d00042;
$GrayF5:#f5f5f5;
$GrayE7:#e7e7e7;
$GrayD9:#d9dadb;
$GrayAE:#aeaeae;
$Gray8E:#8e8e8e;
$Gray6B:#6b6b6b;

