@import "_variables", "_mixin";
.w300px {
  width: 300px;
}
.skip {
  position:absolute;
  width:1px;
  height:1px;
  opacity:0;

}

.subConWrap.apply {
  &.write {
    .subContent {
      width: 100%;
      padding: 0;
    }
    .titleWrap {
      h2 {
        margin-bottom: 6rem;
        text-align: center;
        font-size: 4.8rem;
        line-height: 1;
        letter-spacing: -0.02em;
        font-weight: 600;
        color: $LGBlack;
      }
      .sta {
        display: none;
        ul {
          display: flex;
          justify-content: flex-end;
          li {
            display: inline-block;
            a {
            }
          }
        }
      }
    }
    .subContentTop {
      display: block;
    }
    .stepWrap {
      display: flex;
      width: 100%;
      height: 60px;
      margin: 27px 0;
      border: 5px solid $GrayF5;
      border-radius: 50px;
      .stepItem {
        width: 20%;
        flex: 1;
        display: block;
        position: relative;
        height: 50px;
        .stepAnchor {
          display: flex;
          position: relative;
          z-index: 10;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          &:before {
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: transparent;
            transition: all 0.3s;
            border-radius: 50px;
          }
        }
        &:not(:last-child):after {
          display: block;
          position: absolute;
          width: 1px;
          height: 16px;
          top: calc(50% - 8px);
          left: calc(100% - 1px);
          background: $GrayD9;
        }
        &.previous {
          &:after {
            display: none;
          }
        }
        &.Lcurrent {
          .stepAnchor {
            color: $White;
            &:before {
              background-color: $RedD0;
            }
          }
        }
      }
    }
    .warning + .more {
      margin-top:2.9rem;
    }
    p {
      font-size:1.5rem;
      line-height:1.5;
      letter-spacing:-0.02em;
      &+.addWrap {
        margin-top:-13px;
      }
    }
    .more {
      position: relative;
      padding-left: 27px;
      font-size: 15px;
      line-height: 1.5;
      letter-spacing: -0.02em;
      &:before {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 2px;
        width: 21px;
        height: 18px;
        background: url(../images/icon/check2.svg) no-repeat center center;
      }
      a {
        display: inline-block;
        position: relative;
        color: $RedD0;
        &:after {
          display: block;
          position: absolute;
          left: 0;
          top: calc(100% - 4px);
          width: 100%;
          height: 1px;
          background-color: $RedD0;
        }
      }
    }
    .moreWrap {
      &.right {
        text-align:right;
        .more {
          display:inline-block;
        }
      }

    }
    .addWrap {
      display: flex;
      justify-content: flex-end;
      position: relative;
      height: 0;
      margin-top: -23px;
      margin-bottom:23px;
      button {
        display: inline-flex;
        align-items: center;
        position: relative;
        bottom: 0;
        font-size: 1.5rem;
        letter-spacing: -0.02em;
        font-weight: 400;
        color: $LGBlack;
        &+button {
          margin-left:12px;
        }
        &.delete {
          &:before {
            display: inline-block;
            width: 13px;
            height: 2px;
            margin-right:4px;
            background-color:$LGBlack;
          }
        }
        &.add {
          &:before {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right:2px;
            background: url(../images/icon/plus.svg) no-repeat center center;
          }
        }
      }
    }

    article {
      margin: 54px 0;
      h3 {
        margin: 20px 0 10px;
        font-size:2rem;
        line-height:1.5;
        letter-spacing:-0.02em;
      }
      .table {
        margin: 10px 0 15px;
        padding: 12px 0 12px;
        border-top: 1px solid $LGBlack;
        border-bottom: 1px solid $GrayE7;
        &+ h3 {
          margin-top:55px;
        }
        table {
          border-top: 0;
          color: $LGBlack;
          th,
          td {
            border: 0;
            vertical-align: middle;
          }
          th {
            font-size: 1.6rem;
            line-height: 1.5;
            letter-spacing: -0.02em;
            &:nth-of-type(2){
              padding-left:6%;
            }
          }
          td {
            padding: 7px 0 8px 10px;
            &+td {
              padding-left:0;
            }
          }
          p {
            font-size:1.3rem;
            line-height:1.2;
            color:$Gray6B;
            margin:8px 0;
            &.info {
              margin-top:9px;
              margin-bottom:-10px;
            }
          }

          .pB0 {
            padding-bottom:0;
          }
        }
        .tdCon {
          display: inline-flex;
          width: 100%;
          align-items: center;
          min-height: 48px;
          padding: 10px 10px 10px 20px;
          border-radius: 5px;
          background-color: $GrayF5;
          color: $LGBlack;
          vertical-align: middle;
        }
        .row {
          display: flex;
          align-items: center;
          width: 100%;
          .bar {
            margin:0 10px;
          }
        }

        .delete {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 22px;
          height: 22px;
          border-radius: 3px;
          border: 1px solid $GrayAE;
          font-size: 0;
          line-height: 0;
          &:before {
            display: block;
            width: 12px;
            height: 12px;
            background: url(../images/icon/delete.svg) no-repeat center center;
          }
        }
        .input {
          display:inline-flex;
          align-items:center;
          min-height:48px;
        }

        &.type2 {
          padding:0;
          table {
            th {
              padding:16px 10px;
            }
            td {
              padding:20px 10px;
            }
          }
        }
      }
      .inputSearch {
        position: relative;
        .searchBtn {
          display: block;
          position: absolute;
          right: 15px;
          top: calc(50% - 10px);
          width: 20px;
          height: 20px;
          background: url(../images/icon/searchBtn.svg) no-repeat center center;
          font-size: 0;
        }
      }
    }
    .bottomWrap {
      display: flex;
      justify-content: space-between;
      .btn {
        width: 180px;
        min-height:58px;
        border-radius:50px;
        &+.btn {
          margin-left:6px;
        }
        &.next {
          span {
            position: relative;
            &:after {
              display: inline-block;
              vertical-align: middle;
              margin-left: 5px;
              width: 9px;
              height: 9px;
              border-width: 0 0 1px 1px;
              border-style: solid;
              border-color: $White;
              transform: rotate(-135deg);
            }
          }
        }
        &.prev {
          span {
            position: relative;
            &:before {
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
              width: 9px;
              height: 9px;
              border-width: 0 0 1px 1px;
              border-style: solid;
              border-color: $LGBlack;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    .duration {
      display: flex;
      align-items: center;
      > * {
      }
      .inputBox {
        flex: 1;
      }
      .bar {
        margin: 0 10px;
      }
    }
    .LiconCalendar {
      margin-left: 10px;
      width: 20px;
      height: 20px;
      background: url(../images/icon/calendar.svg) no-repeat center center;
      font-size: 0;
      line-height: 0;
    }

    /* article1 */
    article.sec1 {
      .row {
        > * {
          flex: 1;
        }
        select:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    /* article2 */
    article.sec2 {
      .row + .row {
        margin-top: 10px;
      }
      .address {
        display:inline-flex;
        flex: 1;
        align-items: center;
        margin-left:20px;
        .btn {
          padding:0 10px;
        }
        .inputBox {
          display: inline-block;
          flex:1;
          width: auto;
        }
      }
    }
  }
}
