@import "_variables", "_mixin";

.w300px {
  width: 300px;
}

.skip {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.subConWrap.apply {
  &.write {
    .bu {
      li {
        &:before {
          top: 0.85rem;
        }
      }
    }

    .inputBox textarea {
      height: 18rem;
    }

    .subContent {
      width: 100%;
      padding: 0;
    }

    .titleWrap {
      h2 {
        margin-bottom: 6rem;
        text-align: center;
        font-size: 4.8rem;
        line-height: 1;
        letter-spacing: -0.02em;
        font-weight: 600;
        color: $LGBlack;
      }

      .sta {
        display: none;

        ul {
          display: flex;
          justify-content: flex-end;

          li {
            display: inline-block;
          }
        }
      }
    }

    .subContentTop {
      display: block;
    }

    .stepWrap {
      display: flex;
      width: 100%;
      height: 60px;
      margin: 27px 0;
      border: 5px solid $GrayF5;
      border-radius: 50px;

      .stepItem {
        width: 20%;
        flex: 1;
        display: block;
        position: relative;
        height: 50px;

        .stepAnchor {
          display: flex;
          position: relative;
          z-index: 10;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;

          &:before {
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: transparent;
            transition: all 0.3s;
            border-radius: 50px;
          }
        }

        &:not(:last-child):after {
          display: block;
          position: absolute;
          width: 1px;
          height: 16px;
          top: calc(50% - 8px);
          left: calc(100% - 1px);
          background: $GrayD9;
        }

        &.previous {
          &:after {
            display: none;
          }
        }

        &.Lcurrent {
          .stepAnchor {
            color: $White;

            &:before {
              background-color: $RedD0;
            }
          }
        }
      }
    }

    .warning + .more {
      margin-top: 2.9rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.5;
      letter-spacing: -0.02em;

      & + .addWrap {
        margin-top: -13px;
      }
    }

    .more {
      position: relative;
      margin: 10px 0;
      padding-left: 27px;
      font-size: 15px;
      line-height: 1.5;
      letter-spacing: -0.02em;

      &:before {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 2px;
        width: 21px;
        height: 18px;
        background: url(../images/icon/check2.svg) no-repeat center center;
      }

      a {
        display: inline-block;
        position: relative;
        color: $RedD0;

        &:after {
          display: block;
          position: absolute;
          left: 0;
          top: calc(100% - 4px);
          width: 100%;
          height: 1px;
          background-color: $RedD0;
        }
      }
    }

    .moreWrap {
      &.right {
        text-align: right;

        .more {
          display: inline-block;
        }
      }
    }

    .deleteBtn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      border-radius: 3px;
      border: 1px solid $GrayAE;
      font-size: 0;
      line-height: 0;

      &:before {
        display: block;
        width: 12px;
        height: 12px;
        background: url(../images/icon/delete.svg) no-repeat center center;
      }
    }

    .addWrap {
      display: flex;
      justify-content: flex-end;
      position: relative;
      height: 0;
      margin-top: -23px;
      margin-bottom: 23px;

      button {
        display: inline-flex;
        align-items: center;
        position: relative;
        bottom: 0;
        font-size: 1.5rem;
        letter-spacing: -0.02em;
        font-weight: 400;
        color: $LGBlack;

        & + button {
          margin-left: 12px;
        }

        &.delete {
          &:before {
            display: inline-block;
            width: 13px;
            height: 2px;
            margin-right: 4px;
            background-color: $LGBlack;
          }
        }

        &.add {
          &:before {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 2px;
            background: url(../images/icon/plus.svg) no-repeat center center;
          }
        }
      }
    }

    article {
      margin: 54px 0;

      h3 {
        margin: 20px 0 10px;
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: -0.02em;
      }

      .table {
        margin: 10px 0 15px;
        padding: 12px 0 12px;
        border-top: 1px solid $LGBlack;
        border-bottom: 1px solid $GrayE7;

        & + h3 {
          margin-top: 55px;
        }

        table {
          border-top: 0;
          color: $LGBlack;

          th,
          td {
            border: 0;
            vertical-align: middle;
          }

          th {
            font-size: 1.6rem;
            line-height: 1.5;
            letter-spacing: -0.02em;

            &:nth-of-type(2) {
              padding-left: 6%;
            }

            &.thOnly {
              padding: 20px 0 0;
            }
          }

          td {
            padding: 7px 0 8px 10px;

            & + td {
              padding-left: 0;
            }

            &.tdOnly {
              padding: 7px 0 8px 0;
            }
          }

          p {
            font-size: 1.3rem;
            line-height: 1.2;
            color: $Gray6B;
            margin: 8px 0;

            &.info {
              margin-top: 9px;
              margin-bottom: -10px;
            }
          }

          .pB0 {
            padding-bottom: 0;
          }
        }

        .moreInfo {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          background: url(../images/icon/question.svg) no-repeat center center;
          font-size: 0;
          line-height: 0;
        }

        .tdCon {
          display: inline-flex;
          width: 100%;
          align-items: center;
          min-height: 48px;
          padding: 10px 10px 10px 20px;
          border-radius: 5px;
          background-color: $GrayF5;
          color: $LGBlack;
          vertical-align: middle;
        }

        .row {
          display: flex;
          align-items: center;
          width: 100%;

          .bar {
            margin: 0 10px;
          }
        }

        .input {
          display: inline-flex;
          align-items: center;
          min-height: 48px;
        }

        &.type2 {
          padding: 0;
          text-align: center;
          border-bottom: 0;

          table {
            th {
              padding: 16px 10px;
            }

            td {
              padding: 20px 10px;

              &:first-child {
                padding-left: 20px;
              }

              &:last-child {
                padding-right: 20px;
              }
            }

            tbody {
              th,
              td {
                border-bottom: 1px solid $GrayE7;
              }
            }
          }
        }

        &.type3 {
          padding: 0;
          border-bottom: 0;

          th,
          td {
            border-bottom: 1px solid $GrayE7;
          }

          .input {
            height: auto;
          }
        }

        &.type4 {
          th {
            position: relative;
            padding: 5px 0;

            .right {
              display: block;
              position: absolute;
              right: 0;
              top: 5px;
              color: $Gray6B;
              font-size: 1.3rem;
              line-height: 2.2rem;
              letter-spacing: -0.02em;
            }
          }

          td {
            padding: 8px 0;
          }
        }

        &.type5 {
          padding: 5px 0;

          table {
            tbody tr {
              th,
              td {
                padding: 11px 0;
                font-size: 1.6rem;
                line-height: 1.5;
                letter-spacing: -0.02em;
              }

              td {
              }
            }
          }
        }
      }

      .inputSearch {
        position: relative;

        .searchBtn {
          display: block;
          position: absolute;
          right: 15px;
          top: calc(50% - 10px);
          width: 20px;
          height: 20px;
          background: url(../images/icon/searchBtn.svg) no-repeat center center;
          font-size: 0;
        }
      }
    }

    .bottomWrap {
      display: flex;
      justify-content: space-between;

      .right,
      .left {
        display: flex;
        align-items: center;
      }

      .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        min-height: 58px;
        border-radius: 50px;

        & + .btn {
          margin-left: 6px;
        }

        &.next {
          span {
            position: relative;

            &:after {
              display: inline-block;
              vertical-align: middle;
              margin-left: 5px;
              width: 9px;
              height: 9px;
              border-width: 0 0 1px 1px;
              border-style: solid;
              border-color: $White;
              transform: rotate(-135deg);
            }
          }
        }

        &.prev {
          span {
            position: relative;

            &:before {
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
              width: 9px;
              height: 9px;
              border-width: 0 0 1px 1px;
              border-style: solid;
              border-color: $LGBlack;
              transform: rotate(45deg);
            }
          }
        }
      }
    }

    .duration {
      display: flex;
      align-items: center;

      > * {
      }

      .inputBox {
        flex: 1;
      }

      .bar {
        margin: 0 10px;
      }
    }

    .LiconCalendar {
      margin-left: 10px;
      width: 20px;
      height: 20px;
      background: url(../images/icon/calendar.svg) no-repeat center center;
      font-size: 0;
      line-height: 0;
    }

    /* article1 */
    article.sec1 {
      .row {
        > * {
          flex: 1;

          &.empty {
            flex: auto;
            width: 318px;
          }
        }

        select:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    /* article2 */
    article.sec2 {
      .row + .row {
        margin-top: 10px;
      }

      .address {
        display: inline-flex;
        flex: 1;
        align-items: center;
        margin-left: 20px;

        .btn {
          padding: 0 10px;
        }

        .inputBox {
          display: inline-block;
          flex: 1;
          width: auto;
        }
      }
    }
  }

  .resultTitle {
    margin: 20px 0 44px;
    font-size: 2.4rem;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 600;
  }

  #tabCon5 {
    .btnWrap {
      margin-top: 20px;
    }

    article {
      margin-bottom: 50px;

      & + article {
        margin-top: 66px;
      }

      .table + h3 {
        margin-top: 35px;
      }

      .table.type4 {
        padding: 0;

        table tbody tr {
          th {
            padding: 16px 0;

            .right {
              top: 17px;
            }
          }

          td {
            padding: 17px 0;
            font-size: 1.6rem;
            line-height: 1.65;
          }
        }
      }
    }
  }
}

/* popup */
.LblockContent {
  position: relative;
  padding: 20px;
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
  }

  .LblockContentMain {
    padding-bottom: 70px;
    p {
      font-size: 1.4rem;
      line-height: 1.5;
    }
    h2 {
      position: relative;
      display: block;
      padding-left: 15px;
      font-size: 1.8rem;
      line-height: 1.5;
      margin: 10px 0;
      font-weight: 600;
      &:before {
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $RedD0;
      }
    }
    h3,
    h4 {
      margin: 0;
      font-size: 1.4rem;
      line-height: 1.5;
      font-weight: 400;
    }
    table {
      width: 100% !important;
      margin: 10px 0;
      border-bottom: 1px solid $LGBlack;
      border-right: 1px solid $LGBlack;
      tr {
        th,
        td {
          padding: 5px 10px;
          vertical-align: middle;
          border-top: 1px solid $LGBlack;
          border-left: 1px solid $LGBlack;
          font-size: 1.4rem;
          line-height: 1.5;
        }
        th {
          font-weight: 600;
          text-align: center;
        }
      }
    }
    ul {
      li {
        position: relative;
        font-size: 1.4rem;
        line-height: 1.5;
        padding-left: 10px;
        &:before {
          display: block;
          position: absolute;
          left: 0;
          top: 10px;
          width: 5px;
          height: 1px;
          background-color: $LGBlack;
        }
      }
    }
    .LblockButton {
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 58px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        background-color: $LGBlack;
        color: $White;
        font-size: 1.6rem;
      }
    }
  }
  .LpopupClose {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    a {
      &:before {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background: url(../images/icon/delete.svg) no-repeat center center;
        background-size: 20px 20px;
      }
      span,
      img {
        display: none;
      }
    }
  }
}

/* 팝업 공통 */
.LsimplePopup.searchaddress {
  width: 410px;
  height: 590px;
}
.LsimplePopup.searchschoolLoc {
  width: 410px;
  height: 460px;
}
.LsimplePopup.searchschool {
  width: 410px;
  height: 640px;
}
.LsimplePopup.searchmajor {
  width: 410px;
  height: 590px;
}
.LsimplePopup.searchnationality {
  width: 410px;
  height: 503px;
}
.LsimplePopup.searchcode {
  width: 410px;
  height: 570px;
}
.LsimplePopup.searchcertificate {
  width: 410px;
  height: 650px;
}
.LsimplePopup.submitconfirm {
  width: 345px;
  height: 223px;
}
.LsimplePopup.applyConfirmDialog {
  width: auto;
  height: auto;
  top: -50%;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
/******** dialog ********/
.dmui_dialog_container {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1002;
  background-color: #333;
}
.dmui_dialog {
  position: relative;
  width: auto;
  /* margin: 10px; */
}
.dmui_dialog_container.fade .dmui_dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.dmui_dialog_container.in .dmui_dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.dmui_dialog_content {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  outline: 0;
}

.dmui_dialog {
  overflow: hidden;
  .Lexplanation p {
    position: relative;
    padding-left: 25px;
    color: $Gray6B;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background: url(../images/icon/warning.svg) no-repeat center center;
    }
  }
  .dmui_dialog_header {
    padding: 20px 30px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    .dmui_dialog_title {
      font-size: 24px;
      line-height: 1.5;
    }
  }
  .dmui_dialog_footer {
    overflow: hidden;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58px;
    border-radius: 0 0 13px 13px;
    background-color: $LGBlack;
    > * {
      flex: 1;
    }
    .dmui_dialog_footer_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      color: #fff;
    }
  }
  .dmui_dialog_body {
    padding: 20px 30px;
  }
  .dmui_dialog_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/icon/delete.svg) no-repeat center center;
    background-size: 20px 20px;
    font-size: 0;
    line-height: 0;
    right: 23px;
    top: 24px;
  }
}
.LblockListTable {
}
.searchnationality {
  .LblockSearch {
    position: relative;
    margin-top: 20px;
  }
  input {
    width: 100%;
    height: 54px;
    border-radius: 40px;
    padding: 5px 27px;
    background-color: #f8f8f8;
    font-size: 1.4rem;
    line-height: 1;
    color: $LGBlack;
  }
  button {
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: url(../images/icon/searchBtn.png) no-repeat center center;
    font-size: 0;
    line-height: 0;
  }
}
