@import "_variables", "_mixin";

.subContainer {
  width: 100%;
  height: auto;
  background-color: #eee;
}
/*명화*/
.visualWrap {
  padding-top: 13.2rem;
  .wrap {
    width: 144rem;
    margin: 0 auto;
  }
  .visualBg {
    width: 178rem;
    height: 63rem;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    overflow: hidden;
    .title {
      margin-top: 7rem;
      color: #fff;
      h2 {
        margin-top: 3.5rem;
        margin-bottom: 1rem;
        span {
          display: block;
          font-size: 5rem;
          line-height: 1.3;
          letter-spacing: -0.02em;
        }
      }
      p {
        margin-top: 2.5rem;
        margin-bottom: 7.1rem;
        span {
          font-size: 2rem;
          line-height: 1;
          &:not(:last-child):after {
            display: inline-block;
            margin: 0 1rem;
            width: 1px;
            height: 1.2rem;
            background-color: #d9dadb;
            vertical-align: middle;
          }
        }
      }
      .more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18rem;
        height: 5.8rem;
        border-radius: 3rem;
        border: 1px solid #fff;
        font-size: 1.6rem;
        line-height: 1;
      }
    }
  }
  .visualCon {
    display: flex;
    align-items: center;
    height: 24rem;
    margin-top: -12rem;
    padding: 2rem 4rem;
    background-color: #fff;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    .title {
      display: inline-block;
      flex-grow: 1;
      color: #1d1d1b;
      line-height: 1;
      h3 {
        margin-bottom: 2.2rem;
        font-weight: 600;
        font-size: 2.2rem;
        letter-spacing: -0.02em;
      }
      p {
        span {
          display: block;
          font-size: 1.6rem;
          letter-spacing: -0.02em;
          line-height: 1.5;
        }
      }
    }
    .slideWrap {
      display: inline-flex;
      position: relative;
      overflow: hidden;
      width: 97rem;
      padding: 0 6rem;
      .slideList {
        width: 84rem;
        .slideItem {
          overflow: hidden;
          position: relative;
          width: 19rem;
          height: 19rem;
          margin: 0 1.25rem;
          border-radius: 1rem;
          .slideAnchor {
            display: block;
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
            .con {
              position: absolute;
              z-index: 10;
              visibility: hidden;
              opacity: 0;
              bottom: 0;
              width: 100%;
              text-align: center;
              font-size: 1.5rem;
              line-height: 1;
              letter-spacing: -0.02em;
              transition: all 0.2s;
              .part {
                color: #d9d9d9;
                margin-bottom: 1rem;
              }
              .name {
                color: #fff;
              }
            }
            &:before {
              display: block;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              z-index: -1;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 11.4rem;
              background: linear-gradient(
                180.44deg,
                rgba(92, 92, 92, 0) 3.43%,
                rgba(65, 65, 65, 0.69) 56.46%,
                rgba(0, 0, 0, 0.69) 99.62%
              );
              transition: all 0.3s;
            }
          }
          &:hover {
            .slideAnchor {
              .con {
                visibility: visible;
                opacity: 1;
                bottom: 2rem;
              }
              &:before {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
      .slideCtrl {
        position: absolute;
        width: 100%;
        left: 0;
        top: calc(50% - 1.7rem);
        button {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 4.2rem;
          height: 4.2rem;
          background-color: #aeaeae;
          font-size: 0;
          line-height: 0;
          &.prev {
            left: 0;
          }
          &.next {
            right: 0;
          }
          &:before {
            display: block;
            width: 1rem;
            height: 1rem;
            border-width: 0 0 0.2rem 0.2rem;
            border-style: solid;
            border-color: #fff;
            transform: rotate(45deg);
          }
          &.next:before {
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
}

.subConWrap {
  padding: 15rem 0;
  width: 144rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .subContent {
    width: 102.2rem;
    height: auto;
    padding: 4rem 0 0;

    .subTitle2 {
      color: $Gray6B;
    }

    .subContentTop {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .sta {
      ul {
        display: flex;

        li {
          position: relative;
          padding-right: 2.1rem;
          margin-right: 1rem;
          font-size: 1.4rem;
          letter-spacing: -0.02em;
          color: $Gray6B;

          &.staOn {
            text-decoration: underline;
          }

          a {
            img {
              vertical-align: middle;
              margin-top: -0.2rem;
            }
          }

          &::before {
            display: block;
            width: 0.6rem;
            height: 1.2rem;
            background-image: url(./../images/icon/arrowR.png);
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: 0.3rem;
          }

          &:last-child {
            padding-right: 0;
            margin-right: 0;

            &::before {
              width: 0;
            }
          }
        }
      }
    }

    .chStoryList {
      margin-bottom: 12rem;

      &.chStoryListMain{
        ul{
          margin-bottom: -3.5rem;
          justify-content: space-between !important;
          li{
            margin-right: 0;
          }
        }
      }

      ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
          width: 31.6rem;
          height: 42rem;
          border-radius: 1.5rem;
          background-color: $White;
          margin-bottom: 3.5rem;
          margin-right: 3.4rem;
          &:nth-child(3n){
            margin-right: 0;
          }

          a {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 1.5rem;

            &:hover,
            &:focus {
              box-shadow: 0.8rem 0.9rem 4rem -0.8rem rgba(0, 0, 0, 0.2);
            }
          }

          .thumbImg {
            border-radius: 1.5rem 1.5rem 0 0;
            overflow: hidden;

            &.video {
              position: relative;

              &::before {
                position: absolute;
                display: block;
                width: 6rem;
                height: 6rem;
                background-image: url(./../images/icon/play.png);
                right: 2rem;
                bottom: 2rem;
                z-index: 10;
              }
            }
          }

          .thumbCon {
            padding: 3rem 3rem 4rem;

            span {
              display: block;
              font-size: 1.4rem;
              margin-bottom: 2rem;
              letter-spacing: -0.02em;
              color: $BrandColorRed;
            }

            p {
              font-size: 2.2rem;
              font-weight: 600;
              line-height: 3.08rem;
              letter-spacing: -0.02em;
              color: $Black;
              @include ellipsis2row;
            }
          }

          &.listTT {
            width: 66.7rem;
          }

          &.listHalf {
            width: 49.2rem;
          }
          &.listHalf + .listHalf{
            margin-right: 0;
          }

          &.thumbNoImg {
            .thumbCon {
              p {
                -webkit-line-clamp: 10;
              }
            }
          }
        }

        // &.chStListHalf {
        //     li {
        //         width: 49.2rem;
        //     }
        // }
      }
    }
  }

  .chPostList {
    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: -3.5rem;
      li {
        width: 31.8rem;
        height: 20.9rem;
        margin-right: 3.4rem;
        background: $White;
        border-radius: 1.5rem;
        margin-bottom: 3.5rem;
        position: relative;
        &:nth-child(3n){
          margin-right: 0;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 3rem;
          border-radius: 1.5rem;
          &:hover,
            &:focus {
              box-shadow: 1.6rem 1.4rem 4.5rem -0.4rem rgba(0, 0, 0, 0.2);
            }

          .category {
            display: block;
            margin-top: 3rem;
            font-size: 1.6rem;
            letter-spacing: -0.02em;
            color: #8e8e8e;
            margin-bottom: 2rem;
          }

          p {
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: -0.02em;
            color: $LGBlack;
            font-weight: 600;
          }

          .postCon {
            font-size: 1.6rem;
            line-height: 1.6rem;
            letter-spacing: -0.02em;
            color: $Gray6B;
            margin-bottom: 1.5rem;
            font-weight: 400;
            .pointC {
            
              position: relative;
              padding-right: 1.1rem;
              margin-right: 1rem;

              &::before {
                display: block;
                width: 0.1rem;
                height: 1.1rem;
                background-color: $GrayD9;
                position: absolute;
                right: 0;
                top: 0.2rem;
              }
            }
          }
        }
        .postInfo{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          bottom: 3rem;
          left: 3rem;
          width:calc(100% - 6rem);
          .dDay {
            display: block;
            font-size: 2rem;
            font-weight: 600;
            color: $RedD0;
            letter-spacing: -0.02em;
            line-height: 2rem;
          }
          .crBox{
            min-width: 5.6rem;
            height: 3rem;
            border:.1rem solid $GrayAE;
            border-radius: 1.5rem;
            font-size: 1.4rem;
            line-height: 3rem;
            padding: 0 1.5rem;
            color:$LGBlack;
            font-weight: 400;
          }
        }
      }
    }
  }
  /* 탭메뉴 */
  .tabMenu {
    [data-tab-content] {
      display: none;
    }

    .chStoryList {
      margin-bottom: -3.5rem;
    }

    .tabOn[data-tab-content] {
      display: block;
    }

    .tabs {
      display: flex;
      font-size: 1.8rem;
      line-height: 1.8rem;
      letter-spacing: -0.02em;
      font-weight: 600;
      color: #aeaeae;
      margin-bottom: 3rem;

      .tab {
        cursor: pointer;
        margin-right: 2.5rem;
        padding-top: 0.8rem;
        font-weight: 600;

        &.tabOn {
          color: $RedD0;
        }

        &:hover {
          color: $RedD0;
        }
      }
    }
  }

  /* 채널 채용정보 리스트 */
  .listLineUp {
    display: flex;
    justify-content: space-between;
    > p {
      font-size: 1.6rem;
      font-weight: 300;
      color: $LGBlack;
      letter-spacing: -0.03em;
      span {
        font-weight: 400;
      }
    }
    > ul {
      display: flex;
      > li {
        position: relative;
        margin-left: 3rem;
        > a {
          font-size: 1.6rem;
          letter-spacing: -0.05em;
          color: $Gray6B;
          padding-right: 2.4rem;
          position: relative;
          display: block;
          &:after{
            display: block;
            position: absolute;
            right:0;
            top:0.4rem;
            width: 1.4rem;
            height: 0.8rem;
            background-image: url(/common/images/icon/listUpIco.png);
          }
        }
        > ul {
          position: absolute;
          display: none;
          > li {
            a {
              font-size: 1.4rem;
              letter-spacing: -0.02em;
              color: $Gray6B;
            }
          }
        }
        &.active{
          >a{
            &:after{
              transition: 0.3s;
              transform: rotate(180deg);
            }
            
          }
          >ul{
            display: block;
          }
        }
      }
    }
  }
  .chAdList {
    width: 100%;
    height: auto;
    border-top: 0.1rem solid $Gray6B;
    margin-top: 1.7rem;
    background-color: $White;
    > div {
      padding: 4rem 3rem;
      border-bottom: 0.1rem solid $GrayE7;
      .adListTitle {
        display: flex;
        justify-content: space-between;
        li {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          a {
            @include ellipsis2row;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: -0.04em;
            color: $Black;
            line-height: 3.12rem;
            width: 71.2rem;
            display: initial;
            max-height: 6.3rem;
          }
          p {
            margin-right: 3rem;
            margin-top: 0.4rem;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .adListInfo {
        display: flex;
        justify-content: flex-start;
        margin-top: 1.7rem;
        li {
          font-size: 1.6rem;
          line-height: 1.6rem;
          letter-spacing: -0.02em;
          font-weight: 300;
          color: $LGBlack;
          position: relative;
          padding-right: 0.9rem;
          margin-right: 0.8rem;
          span {
            font-size: 1.8rem;
            line-height: 1.8rem;
            letter-spacing: -0.02em;
            font-weight: 600;
            color: $RedD0;
            margin-right: 0.8rem;
          }
          &::before {
            display: block;
            position: absolute;
            width: 0.1rem;
            height: 1.2rem;
            background-color: $GrayD9;
            right: 0;
            top: 0.2rem;
          }
          &:last-child {
            margin-right: 0;
            padding-right: 0;
            &::before {
              width: 0;
            }
          }
        }
      }
      .hashTag {
        display: flex;
        justify-content: flex-start;
        margin-top: 4.1rem;
        li {
          display: inline-block;
          background-color: #f8f8f8;
          height: 3rem;
          border-radius: 1.5rem;
          font-size: 1.4rem;
          line-height: 3rem;
          color: $Gray8E;
          padding: 0 1.4rem;
          margin-right: 0.5rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .likeOn {
    svg {
      path {
        fill: $RedD0;
      }
    }
  }
  .chViewTop {
    .subContentTop {
      align-items: flex-start;
      > div {
        width: calc(100% - 14.4rem);
        h3 {
          line-height: 5.2rem;
          font-size: 4rem;
        }
      }
      // .share {
      //   margin-top: 1.5rem;
      //   ul {
      //     display: none;
      //   }
      // }
    }
    .chViewInfo {
      font-size: 1.6rem;
      line-height: 1.8rem;
      letter-spacing: -0.02em;
      color: $LGBlack;
      margin-top: 2.4rem;
      a {
        svg {
          vertical-align: middle !important;
          margin-top: -0.5rem;
        }
      }
      span {
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: -0.02em;
        color: $RedD0;
        margin: 0 0.8rem 0 1.2rem;
      }
    }
  }
  .chView {
    margin-top: 6rem;
    .chViewCated {
      font-size: 2.8rem;
      line-height: 2.8rem;
      letter-spacing: -0.02em;
      color: $LGBlack;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    .chViewContent {
      background-color: $White;
      padding-bottom: 7rem;
    }
    .chViewBox {
      padding: 8rem 6.6rem 6rem;
      > h4 {
        font-weight: 600;
        color: $Black;
        margin-left: -3.5rem;
        margin-bottom: 4rem;
      }
      h5.guide {
        font-size: 1.8rem;
        color: $Black;
        letter-spacing: -0.02em;
        position: relative;
        margin-bottom: 2rem;
        &::before {
          display: block;
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          background-color: $LGBlack;
          position: absolute;
          left: -1.4rem;
          top: 0.8rem;
        }
      }
      > p {
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: $Gray6B;
        letter-spacing: -0.02em;
      }
      .bu {
        &.type3 {
          > li {
            margin-bottom: 2rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
          li {
            font-size: 1.6rem;
            letter-spacing: -0.02em;
            line-height: 2.1rem;
            color: $Gray6B;
            font-weight: 400;

            > ul {
              margin-top: 0;
            }
          }
        }
      }
    }
    .stepImg {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 6rem;
      li {
        width: 13.5rem;
        height: 9.2rem;
        margin-right: 1.5rem;
        position: relative;
        padding-right: 3.9rem;
        margin: 2rem 1.5rem 2rem 0;
        text-align: center;
        &::before {
          display: block;
          width: 2.4rem;
          height: 9.2rem;
          background-image: url("/common/images/icon/stepArrow.png");
          background-repeat: no-repeat;
          position: absolute;
          background-position: center;
          right: 0;
        }
        &:nth-child(6) {
          margin: 2rem 1 2rem 0;
        }
        &:last-child {
          &::before {
            width: 0;
          }
        }
        span {
          display: block;
          font-size: 1.6rem;
          line-height: 1.6rem;
          letter-spacing: -0.02em;
          margin-top: 1.6rem;
          color: $Gray6B;
        }
      }
    }
    .bu {
      > li {
        font-size: 1.6rem;
        letter-spacing: -0.02em;
        color: $Gray6B;
        line-height: 2.1rem;
        margin-bottom: 2rem;
        padding-left: 1.2rem;
        &::before {
          content: "· ";
          background-color: transparent;
          top: 0rem;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.type2 {
        > li {
          &::before {
            content: "- ";
          }
        }
      }
    }
  }
  ul.bu + h5.guide {
    margin-top: 6rem;
  }

  /*상세 아코디언 내부테이블*/
  .accConTable {
    > ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
      > li {
        > ul {
          margin-bottom: 2rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      > li.th {
        width: 13.3rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
        letter-spacing: -0.02em;
        color: $LGBlack;
      }
      > li.td {
        width: calc(100% - 13.3rem);
        font-size: 1.6rem;
        line-height: 1.92rem;
        letter-spacing: -0.02em;
        color: $Gray6B;
      }
    }
  }
}
