@import "_variables", "_mixin";
.channel {
  .channelCon {
    background-color: $White;
    padding-bottom: 7rem;
  }
  .tableWrap {
    table {
      width: 100%;
      th {
        font-size: 1.6rem;
        color: $LGBlack;
        line-height: 1.5;
        font-weight: 400;
        vertical-align: top;
        padding-top: 1.8rem;
      }
      td {
        padding: 0.75rem 0.5rem;
        vertical-align: top;
      }
    }
  }
  .bottomBtn {
    padding-top: 5rem;
    text-align: center;
    .btn {
      background-color: $White;
      i {
        display: inline-block;
        width: 1.4rem;
        height: 0.7rem;
        margin-left: 1rem;
        background: url(../images/icon/accArrow.svg) no-repeat center center;
        transform: rotate(180deg);
        background-size: contain;
        vertical-align: middle;
      }
    }
  }
}

.channelQuery {
  .guideAcc.type2 {
    border-top-color: $Gray6B;
    margin-bottom: 0;
    .q {
      .qBtn {
        min-height: 7rem;
        .accQuery {
          position: relative;
          padding-left: 3.7rem;
          &:before {
            display: block;
            position: absolute;
            left: 0;
            top: -0.5rem;
            content: "Q";
            font-size: 2.4rem;
            line-height: 1.5;
            letter-spacing: 0;
            font-weight: 600;
          }
        }
        &:after {
          right: 2.8rem;
        }
      }
    }
    .accItem.active {
      .q {
        .qBtn {
          .accQuery {
            color: $LGBlack;
          }
        }
      }
    }
    .a {
      padding: 3rem 2rem 4rem 3rem;
      background-color: #fff9fa;
      .accCon {
        position: relative;
        color: $Gray6B;
        padding: 0 0 0 3rem;
        &:before {
          display: block;
          position: absolute;
          content: "A";
          color: $RedD0;
          font-weight: 600;
          font-size: 2.6rem;
          top: -0.5rem;
          left: 0;
        }
      }
    }
  }
}
.channelQuery2 {
  .channelCon {
    padding: 3rem;
    background-color: $White;
    border-top: 1px solid $Gray6B;
    .inputBox {
      textarea {
        width: 100%;
      }
      &:not(.upload) {
        input,
        select {
          width: 36rem;
        }
      }
    }
  }
  .bottomBtn .btn {
    background-color: $LGBlack;
    &:hover {
      background-color: $RedD0;
    }
  }
}

@include mobile{
  .channel {
    .tableWrap {
      table {
        width: 100%;
        tr{
          display: block;
          margin-bottom: 1.5rem;
        }
        th {
          display: block;
          padding: 0;
        } 
        td {
          display: block;
          .fileUpload{
            flex-wrap: wrap;
            p{
                margin-left: 0;
                margin-top: 1rem;
            }
        }
        }
      }
    }
  }
}