@import "_variables", "_mixin";

/* slick */
.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
  position: relative;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
}

[data-copy] {
  box-shadow: 0 0 0 transparent;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

//파일리스트업
.fileListWrap {
  width: 120rem;
  margin: 3rem auto;

  table {
    margin-top: 2rem;
    width: 100%;
    border: 0.1rem solid #999;

    thead {
      tr {
        th {
          background-color: #f1f1f1;
          border-bottom: 0.1rem solid #999;
          font-size: 1.4rem;
          color: #222;
          text-align: center;
          padding: 0.8rem 1.5rem;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 0.1rem solid #999;
          font-size: 1.3rem;
          color: #555;
          padding: 1rem 1.2rem;

          label {
            background-color: $Gray6B;
            color: #fff;
            font-size: 1.2rem;
            padding: 0.3rem 0.8rem 0.4rem;
            border-radius: 0.5rem;
            cursor: default;
          }

          a {
            font-weight: bold;

            &:hover {
              color: $BrandColorRed;
            }
          }
        }
      }
    }
  }
}

//공통가이드
.componentWrap {
  padding: 0;

  .tabWrap {
    position: fixed;
    left: 0;
    width: 20rem;
    padding: 4rem 3rem 3rem;

    > .tabs {
      li {
        margin-bottom: 2rem;

        a {
          font-size: 1.8rem;
          font-weight: bold;
          letter-spacing: -0.04rem;
        }
      }

      .current {
        border-right: 0.2rem solid #b70f28;

        a {
          color: #b70f28;
        }
      }
    }
  }

  > .tab-content {
    display: block;
    position: absolute;
    left: 20rem;
    padding: 3rem 0;
    width: calc(100% - 23rem);

    > div {
      display: none;

      &.active {
        display: block;
      }
    }

    > h2 {
      font-size: 2.4rem;
      font-weight: 600;
      color: #222;
      letter-spacing: -0.04rem;
      border-bottom: 0.3rem solid #f3f3f3;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .tabContent1 {
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 2.5rem;

        &:nth-child(odd) {
          background-color: #f5f5f5;
        }

        li {
          &:first-child {
            width: 45rem;

            p {
              font-size: 1.6rem;
              letter-spacing: -0.04rem;
              color: #555;
            }

            span {
              font-size: 1.1rem;
              color: #c0c0c0;
            }
          }
        }
      }
    }
  }
}

//margin
.mT0 {
  margin-top: 0 !important;
}

.mT10 {
  margin-top: 1rem;
}

.mT12 {
  margin-top: 1.2rem;
}

.mT60 {
  margin-top: 6rem;
}

.mT80 {
  margin-top: 8rem;
}
.pT0{
  padding-top: 0 !important;
}

@for $i from 1 through 10 {
  .mT#{$i*5} {
    margin-top: 0.5 * $i + rem;
  }

  .mB#{$i*5} {
    margin-bottom: 0.5 * $i + rem;
  }

  .mL#{$i*5} {
    margin-left: 0.5 * $i + rem;
  }

  .mR#{$i*5} {
    margin-right: 0.5 * $i + rem;
  }

  .p#{$i*5} {
    margin: 0.5 * $i + rem;
  }

  .pT#{$i*5} {
    padding-top: 0.5 * $i + rem;
  }

  .pB#{$i*5} {
    padding-bottom: 0.5 * $i + rem;
  }

  .pL#{$i*5} {
    padding-left: 0.5 * $i + rem;
  }

  .pR#{$i*5} {
    padding-right: 0.5 * $i + rem;
  }

  .p#{$i*5} {
    padding: 0.5 * $i + rem;
  }
}

//text-align
.tCenter {
  text-align: center !important;
}

.tLeft {
  text-align: left !important;
}

.tRight {
  text-align: right !important;
}

.fw600 {
  font-weight: 600;
}

.fwB {
  font-weight: bold;
}

.wpNow {
  white-space: nowrap;
}

.point {
  color: $RedD0 !important;
}

//공통 class
h3.subTitle {
  @include title0;
}
h3.subTitleC {
  @include title;
}

h3 {
  @include title1;
}

h4 {
  @include title2;
}

h5 {
  @include title3;
}

h6 {
  //서브타이틀
  @include subTitle1;
}

.subTitle2 {
  @include subTitle2;
}

p {
  @include subText1;
}

//버튼
.btn {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: $LGBlack;
  border: 0.1rem solid $GrayAE;
  padding: 0 2.8rem;
  border-radius: 0.5rem;
  text-align: center;
  vertical-align: middle;
  min-width: 9rem;
  min-height: 4.8rem;
  line-height: 4.6rem;
  height: auto;
  transition: all 0.3s;
  box-sizing: border-box;

  &:hover {
    border: 0.1rem solid $LGBlack;
    color: $LGBlack;
  }

  &.small {
    font-size: 1.4rem;
    padding: 0 1.9rem;
  }

  &.large {
    font-size: 1.6rem;
    padding: 0 3rem;
    min-width: 24.4rem;
    min-height: 5.8rem;
    line-height: 5.8rem;
  }

  &.xlarge {
    font-size: 1.6rem;
    padding: 0 3rem;
    min-width: 50rem;
    min-height: 5.8rem;
    line-height: 5.8rem;
  }

  &.minW {
    min-width: 15rem;
    padding: 0 2rem;
  }

  &.type2 {
    background-color: $RedD0;
    color: $White;
    font-weight: 600;
    border: 0.1rem solid $RedD0;

    &:hover {
      background-color: $RedD0;
      color: $White;
      font-weight: 600;
      border: 0.1rem solid $RedD0;
    }
  }

  &.type3 {
    background-color: #e7e7e7;
    color: $LGBlack;
    border: 0;

    &:hover {
      background-color: #e7e7e7;
      color: $LGBlack;
      border: 0;
    }
  }

  &.type4 {
    background-color: $BrandColorRed;
    color: $White;
    font-weight: 600;
    border: 0.1rem solid $BrandColorRed;

    &:hover {
      background-color: $BrandColorRed;
      color: $White;
      font-weight: 600;
      border: 0.1rem solid $BrandColorRed;
    }
  }

  &.type5 {
    background-color: $LGBlack;
    color: $White;
    font-weight: 600;
    border: 0.1rem solid $LGBlack;

    &:hover {
      background-color: $RedD0;
      color: $White;
      font-weight: 600;
      border: 0.1rem solid $RedD0;
    }
  }

  &.type6 {
    background-color: $White;
    color: $LGBlack;
    font-weight: 600;
    border: 0.1rem solid $LGBlack;

    &:hover {
      background-color: $GrayE7;
      color: $LGBlack;
      font-weight: 600;
      border: 0.1rem solid $GrayE7;
    }
  }

  &.icoImg {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    span {
      display: flex;
      margin-right: 0.5rem;
    }
  }

  &.disabl {
    border: 0.1rem solid #999;
    color: #999;
    cursor: default;
  }

  &.round {
    border-radius: 2.4rem;
    padding: 0 1.2rem;

    &.large {
      border-radius: 2.9rem;
    }

    &.xlarge {
      border-radius: 2.9rem;
    }
    &.icon{
      height: 5.8rem;
      line-height: 5.8rem;
      width: 100%;
      border-radius: 2.9rem;
      i{
        svg{
          vertical-align: middle;
          margin-top: -0.2rem;
          margin-right: 1rem;
        }
      }
    }

  }

  &.ico {
    width: auto;
    height: auto;
    border: 0;
    min-width: inherit;
    padding: 0;
  }

  &.more {
    height: 5.8rem;
    line-height: 5.8rem;
    border-radius: 2.9rem;
    min-width: 18rem;

    span {
      padding-right: 1.7rem;
      background-image: url(./../images/icon/arrowR2.png);
      background-position: right center;
      background-repeat: no-repeat;
    }

    &.type2 {
      height: auto;
      min-height: auto;
      line-height: 1.6rem;
      border-radius: 0;
      border: 0;
      min-width: initial;
      padding: 0;
      background-color: transparent;
      font-weight: 400;
      span {
        font-size: 1.6rem;
        padding-right: 0;
        color: $Gray6B;
        border-bottom: 0.1rem solid $Gray6B;
        background-image: none;
      }
      i {
        svg {
          vertical-align: middle;
          margin-top: -0.2rem;
          margin-left: 0.6rem;
        }
      }
      &:hover,
      &:focus {
        span {
          color: $LGBlack;
          border-bottom: 0.1rem solid $LGBlack;
        }
        i {
          svg {
            rect {
              fill: $LGBlack;
            }
          }
        }
      }
    }
  }

  & + .btn {
    margin-left: 1.2rem;
  }
  &.reset {
    padding: 0;
    border: 0;
    min-width: inherit;
    min-height: auto;
    line-height: 1.6rem;
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    color: $Gray6B;
    i {
      vertical-align: middle;
      margin-left: 0.8rem;
    }
  }
  //팝업푸터 버튼
  & + .popup {
    margin-left: 0;
  }
  &.popup {
    border: 0;
    padding: 0;
    width: 100%;
    min-width: inherit;
    min-height: 5.8rem;
    line-height: 5.8rem;
    text-align: center;
    background-color: $LGBlack;
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    color: $White;
    border-radius: 0;
    font-weight: 400;
    &.ptype2 {
      background-color: $White;
      border-top: 0.1rem solid $GrayD9;
      color: $LGBlack;
    }
  }
}

//form(체크박스, 라디오버튼, selectbox)
.input {
  display: inline-block;
  position: relative;
  // margin: 0.2rem;
  vertical-align: top;

  input[type="checkbox"] {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    border: 0;
    opacity: 0;

    & + label {
      position: relative;
      display: inline-block;
      padding-left: 3rem;
      padding-right: 1rem;
      line-height: 2.2rem;
      vertical-align: top;

      &::before {
        display: block;
        position: absolute;
        content: " ";
        top: 0.1rem;
        left: 0;
        width: 2rem;
        height: 2rem;
        background-color: $RedD0;
        border-radius: 0.5rem;
        border: 1px solid #d9dadb;
        background-color: $White;
        box-sizing: border-box;
        transition: all 0.2s;
      }

      &:after {
        display: block;
        position: absolute;
        left: 0.5rem;
        top: 0.7rem;
        width: 1.1rem;
        height: 0.8rem;
        background: url(/common/images/icon/checkGray.svg) no-repeat center
        center;
        transition: all 0.2s;
      }
    }

    &:checked {
      & + label {
        &:before {
          background-color: $RedD0;
          border-color: $RedD0;
        }

        &:after {
          visibility: visible;
          opacity: 1;
          background-image: url(/common/images/icon/check.svg);
        }
      }
    }

    &:disabled {
      & + label {
        color: #999;

        &::before {
          background-color: #ccc;
          border-color: #ccc;
        }

        &:after {
          background: url(/common/images/icon/check.svg) no-repeat center center;
        }
      }
    }
  }

  input[type="radio"] {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    border: 0;
    opacity: 0;

    & + label {
      position: relative;
      display: inline-block;
      padding-left: 3rem;
      padding-right: 1rem;
      line-height: 2.2rem;
      vertical-align: top;

      &::before {
        display: block;
        position: absolute;
        top: 0.1rem;
        left: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid $GrayD9;
        box-sizing: border-box;
        transition: all 0.2s;
      }

      &:after {
        display: block;
        position: absolute;
        opacity: 0;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $White;
        color: $Gray6B;
        font-size: 1.4rem;
        left: 0.5rem;
        top: 0.6rem;
        text-align: center;
        line-height: 2rem;
        transition: all 0.2s;
      }
    }

    &:checked {
      & + label {
        &:before {
          background-color: $RedD0;
          border-color: $RedD0;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      & + label {
        color: #999;

        &::before {
          background-color: #ccc;
          border-color: #ccc;
        }
      }
    }
  }
  &.boxType{
    display: inline-flex;
    margin-right:.1rem;
    margin-top: 1rem;
    input[type=checkbox]{
      & + label{
        padding: .9rem 1.4rem;
        border:.1rem solid $GrayD9;
        border-radius: .5rem;
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: -0.02em;
        color:$LGBlack;
        &::before{
          display: none;
        }
        &:after{
          display: none;
        }
      }
      &:checked{
        & + label{
          border: .1rem solid $RedD0;
          color:$RedD0;
        }
        
      }
    }
  }
  &.textType{
    input[type=checkbox]{
      & + label{
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: -0.02em;
        color:$LGBlack;
        padding: 0;
        &::before{
          display: none;
        }
        &:after{
          display: none;
        }
      }
      &:checked{
        & + label{
          color:$RedD0;
        }
        
      }
    }
  }
}

//select
.input {
  &.selectBox {
    position: relative;

    .icoArrow {
      position: absolute;
      right: 1.5rem;
      top: 50%;
      margin-top: -0.3rem;

      img {
        transition: 0.3s;
      }
    }
  }
}

select {
  width: 100%;
  height: 4.8rem;
  padding: 0.8rem 3.5rem 0.8rem 1rem;
  border: 0.1rem solid $GrayD9;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: $GrayAE;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 12rem;
  background: url(../images/icon/selectBg.svg) no-repeat right 1.5rem center;
  color: $LGBlack;
  font-size: 1.4rem;
  line-height: 2;

  &::-ms-expand {
    display: none;
  }

  &:focus + .icoArrow img {
    transform: rotate(180deg);
  }
  &[disabled] {
    background-color: $GrayF5;
    border-color: $GrayF5;
    color: $GrayAE;
  }
}

//input, textbox
.inputBox {
  width: 100%;
  display: block;

  label {
    @include hiddenText;
  }

  input {
    border: 0.1rem solid $GrayD9;
    font-size: 1.4rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    color: $LGBlack;
    width: 100%;
    line-height: 4.8rem;
    height: 4.8rem;

    &::placeholder {
      color: $GrayAE;
    }

    &:disabled {
      background-color: $GrayF5;
      border-color: $GrayF5;
    }
  }

  &.type2 {
    input {
      border: 0;
      height: 100%;
    }
  }

  &.inputDis {
    input {
      border: 0.1rem solid #f5f5f5;
      background-color: #f5f5f5;
      color: $LGBlack;
    }
  }
}

.inputBox {
  label {
    @include hiddenText;
  }

  textarea {
    border: 0.1rem solid #ccc;
    width: 100%;
    font-size: 1.6rem;
    padding: 1.4rem;
    min-height: 15rem;
    border-radius: 0.5rem;
    border-color: $GrayD9;

    &::placeholder {
      letter-spacing: -0.02em;
      font-size: 1.4rem;
      line-height: 1;
      color: $GrayAE;
    }
  }
}

.inputBox.upload {
  display: flex;
  align-items: stretch;

  .uploadWrap {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 4.8rem;
    background-color: $GrayF5;
    border-radius: 0.5rem;
    flex: 1;

    .input {
      position: relative;
      z-index: -1;
      width: 1px;
      height: 1px;
    }

    .fileName {
      font-size: 1.4rem;
      color: $LGBlack;
      line-height: 1;
      letter-spacing: -0.02em;
    }

    .clear {
      display: none;
      justify-content: center;
      align-items: center;
      width: 1.8rem;
      height: 1.8rem;
      margin-left: 0.6rem;
      border-radius: 50%;
      background-color: #8e8e8e;
      font-size: 0;
      line-height: 0;

      &:before {
        display: block;
        width: 0.6rem;
        height: 0.6rem;
        background: url(../images/icon/close.svg) no-repeat center center;
      }

      &.active {
        display: inline-flex;
      }
    }
  }

  .uploadBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5rem 3rem;
    margin-left: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid $GrayAE;
    overflow: visible;
    width: auto;
    height: auto;
    clip: auto;
    clip-path: none;

    &:hover {
      border-color: $LGBlack;
    }

    span {
      font-size: 1.6rem;
      line-height: 1;
      letter-spacing: -0.02em;
    }
  }
}

//table
.table {
  table {
    width: 100%;
    border-top: 0.1rem solid $LGBlack;

    thead {
      tr {
        th {
          font-size: 1.6rem;
          line-height: 1.6rem;
          font-weight: 400;
          color: $LGBlack;
          background-color: #f8f8f8;
          text-align: center;
          padding: 1.5rem;
          letter-spacing: -0.02em;
          &:last-child {
            border-right: 0;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 1.4rem;
          letter-spacing: -0.02em;
          color: $LGBlack;
          border-bottom: 0.1rem solid $GrayE7;
          vertical-align: middle;
          padding: 2.2rem 1rem 2.2rem 0;

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }

  &.type2 {
    table {
      thead {
        tr {
          th {
            font-size: 1.6rem;
            font-weight: 400;
            color: $LGBlack;
            border-bottom: 0.1rem solid #eee;
            border-right: 0.1rem solid #eee;
            text-align: center;
            padding: 1.2rem 1.5rem;

            &:last-child {
              border-right: 0;
            }
          }
        }
      }

      tbody {
        tr {
          th {
            font-size: 1.6rem;
            font-weight: 400;
            color: $LGBlack;
            border-bottom: 0.1rem solid #eee;
            border-right: 0.1rem solid #eee;
            padding: 1.2rem 1.5rem;
          }

          td {
            font-size: 1.4rem;
            color: #555;
            border-bottom: 0.1rem solid #eee;
            border-right: 0.1rem solid #eee;
            padding: 1.2rem 1.5rem;

            &:last-child {
              border-right: 0;
            }
          }
        }
      }
    }
  }
}

//Bullet
.bu {
  > li {
    @include subText1;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.1rem;
    color: $Gray6B;

    &::before {
      display: block;
      content: " ";
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
      background-color: $Gray6B;
      position: absolute;
      left: 0;
      top: 0.55rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    > ul {
      margin-top: 0.5rem;

      > li {
        @include subText1;
        margin-bottom: 0.5rem;
        position: relative;
        padding-left: 0.8rem;

        &::before {
          display: block;
          content: " ";
          width: 0.5rem;
          height: 0.1rem;
          background-color: $Gray6B;
          left: 0;
          top: 0.8rem;
          position: absolute;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.type2 {
    > li {
      @include subText1;
      margin-bottom: 0.5rem;

      &::before {
        content: " ";
        width: 0.5rem;
        height: 0.1rem;
        background-color: $Gray6B;
        left: 0;
        top: 0.8rem;
        position: absolute;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.type3 {
    list-style: auto;
    padding-left: 1.45rem;

    > li {
      list-style: inherit;
      @include subText1;
      margin-bottom: 2.8rem;
      padding-left: 0;
      color: $LGBlack;
      font-weight: 600;

      > ul {
        margin-top: 0.8rem;

        li {
          color: $Gray6B;
          font-weight: 400;
        }
      }

      &::before {
        width: 0;
        height: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.type4 {
    > li {
      color: $LGBlack;
      margin-bottom: 0.8rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//페이징
.paging {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 0.2rem;
    }
  }

  .paging_num {
    width: 3.6rem;
    height: 3.6rem;
    text-align: center;
    line-height: 3.6rem;
    border-radius: 0.3rem;
    border: 1px solid #cccccc;

    a {
      font-size: 1.4rem;
      display: block;
      width: 100%;
      height: 100%;
    }

    &.paging_num_on {
      border: 1px solid #eb6565 !important;

      a {
        color: #eb6565 !important;
      }
    }
  }
}

//아코디언
.guideAcc {
  margin: 1rem 0;
  border-top: 1px solid $Gray6B;

  > * {
    box-sizing: border-box;
  }

  .accItem {
    border-bottom: 1px solid #e8e8e8;
  }

  .q {
    .qBtn {
      display: block;
      position: relative;
      width: 100%;
      min-height: 7rem;
      padding: 1rem 3.2rem;
      text-align: left;
      font-size: 0;
      line-height: 0;
      background-color: $White;

      &:after {
        display: block;
        position: absolute;
        right: 1.3rem;
        top: calc(50% - 0.4rem);
        width: 1.4rem;
        height: 0.7rem;
        background: url(../images/icon/accArrow.svg) no-repeat center center;
      }

      .accTitle {
        display: inline-block;
        width: 10.7rem;
        margin-right: 2rem;
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: -0.02em;
        vertical-align: top;
        color: $LGBlack;
      }

      .accQuery {
        display: inline-block;
        vertical-align: top;
        font-size: 1.8rem;
        line-height: 1.5;
        letter-spacing: -0.02em;
        color: $LGBlack;
        font-weight: 600;
        transition: all 0.2s;
      }
    }
  }

  .a {
    display: none;
    position: relative;

    .accCon {
      position: relative;
      padding: 1rem 3.2rem 4rem 3.2rem;
      font-size: 1.6rem;
    }
  }

  .accItem.active {
    .q {
      .qBtn {
        &:after {
          transform: rotate(180deg);
        }

        .accQuery {
          color: $RedD0;
        }
      }
    }
  }
}

.guideAcc.type2 {
  .accItem {
    border-bottom: 0;
  }

  .q {
    .qBtn {
      padding-top: 0.9rem;
      padding-left: 3rem;
      min-height: 9rem;

      &:after {
        right: 2.5rem;
      }

      .accTitle {
        width: 3.2rem;
        color: $LGBlack;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: center;
        min-width: 4rem;
        margin-right: 0;
        padding-right: 0.5rem;
        text-align: left;
        vertical-align: top;
      }

      .accQuery {
        vertical-align: top;

        .title {
          display: block;
          color: $LGBlack;
          font-size: 1.6rem;
          line-height: 1.5;
          font-weight: 600;
          letter-spacing: 0;
        }

        .date {
          display: block;
          margin-top: 0.6rem;
          color: $Gray6B;
          font-size: 1.4rem;
          line-height: 1.5;
          font-weight: 300;
          letter-spacing: 0;
        }
      }
    }
  }

  .a {
    .accCon {
      padding: 3rem 2rem 4rem 7rem;
      background-color: #fff9fb;
      font-size: 1.6rem;
      line-height: 1.6;
      letter-spacing: 0;

      a {
        color: #5d5fef;
        text-decoration: underline;
      }
    }
  }
}

// text.warning
.warning {
  position: relative;
  padding-left: 1.1rem;
  color: $Gray6B;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: -0.02em;
  margin: 1rem 0;
  word-break: keep-all;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0.8rem;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: $Gray6B;
  }

  a {
    color: $RedD0;
    text-decoration: underline !important;
  }
}
.warning.type2 {
  &:before {
    display: block;
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    background: url(../images/icon/warning.svg) no-repeat center center;
  }
  padding-left: 2.6rem;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: $Gray6B;
}

/* alert */
.alert {
  margin-top: 7.2rem;
  width: 100%;
  height: 6rem;
  position: fixed;
  line-height: 6rem;
  text-align: center;

  p {
    display: inline;
    @include subText1;
    color: $White;
    background-repeat: no-repeat;
    background-position: left center;
  }

  &.alertGray {
    background-color: #cdc8c8;

    p {
      background-image: url(/common/images/icon/alert.png);
      padding-left: 1.2rem;
    }
  }

  &.alertRed {
    background-color: #dd3860;

    p {
      background-image: url(/common/images/icon/alertChk.png);
      padding-left: 2.6rem;
    }
  }
}

// essential
.essential {
  position: relative;
  font-size: 0;

  &:after {
    display: inline;
    content: "*";
    color: $RedD0;
    font-size: 1.6rem;
  }
}

/* 스크롤바 설정*/
.scroll {
  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    /* 스크롤바 막대 설정*/
    height: 10%;
    background-color: $GrayD9;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    /* 스크롤바 뒷 배경 설정*/
    background-color: transparent;
  }
}

// tabs
.tabMenu {
  .tabs {
    display: flex;
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #aeaeae;
    margin-bottom: 3rem;

    .tab {
      cursor: pointer;
      margin-right: 2.7rem;
      letter-spacing: 0;

      .tabBtn {
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: -0.02em;
        color: #aeaeae;
      }

      &.tabOn,
      &.tabOn .tabBtn,
      &:hover,
      &:hover .tabBtn {
        color: $RedD0;
        font-weight: 600;
      }
    }
  }
  .tabCon {
    position: static;

    [data-tab-content] {
      display: none;

      &.tabOn {
        display: block;
      }
    }
  }
}

/* title 타입 */
.subContent {
  &.type1 {
    .subContentTop {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .sta {
      ul {
        display: flex;

        li {
          position: relative;
          padding-right: 2.1rem;
          margin-right: 1rem;
          font-size: 1.4rem;
          letter-spacing: -0.02em;
          color: $Gray6B;

          &.staOn {
            text-decoration: underline;
          }

          a {
            img {
              vertical-align: middle;
              margin-top: -0.2rem;
            }
          }

          &::before {
            display: block;
            width: 0.6rem;
            height: 1.2rem;
            background-image: url(./../images/icon/arrowR.png);
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: 0.3rem;
          }

          &:last-child {
            padding-right: 0;
            margin-right: 0;

            &::before {
              width: 0;
            }
          }
        }
      }
    }
  }
  &.type2 {
    .subContentTop {
      > div {
        margin-bottom: 4rem;
      }
    }
    .listLineUp {
      display: flex;
      justify-content: space-between;
      > p {
        font-size: 1.6rem;
        font-weight: 300;
        color: $LGBlack;
        letter-spacing: -0.03em;
        span {
          font-weight: 400;
        }
      }
      > ul {
        display: flex;
        > li {
          position: relative;
          margin-left: 3rem;
          > a {
            font-size: 1.6rem;
            letter-spacing: -0.05em;
            color: $Gray6B;
            padding-right: 2.4rem;
            position: relative;
            display: block;
            &:after {
              display: block;
              position: absolute;
              right: 0;
              top: 0.4rem;
              width: 1.4rem;
              height: 0.8rem;
              background-image: url(/common/images/icon/listUpIco.png);
            }
          }
          &.active {
            > a {
              &:after {
                transition: 0.3s;
                transform: rotate(180deg);
              }
            }
            > ul {
              display: block;
            }
          }
          > ul {
            position: absolute;
            display: none;
            > li {
              a {
                font-size: 1.4rem;
                letter-spacing: -0.02em;
                color: $Gray6B;
              }
            }
          }
        }
      }
    }
  }
  &.type3 {
    .subContentTop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      > div {
        width: calc(100% - 14.4rem);
        h3 {
          line-height: 5.2rem;
          font-size: 4rem;
        }
      }
      .share {
        margin-top: 1.5rem;
        position: relative;
        ul {
          display: none;
          position: absolute;
        }
        .shareOn {
          > ul {
            display: block;
          }
        }
      }
      .shareIco{
        display: flex;
        justify-content: flex-start;
        li{
          background-image: url(/common/images/icon/shareIco.svg);
          width: 2.4rem;
          height: 2.4rem;
          display: block;
          margin-left: 2rem;

          &:first-child{
            margin-left: 0;
          }

          &.shareIco2{
            background-position: -4.4rem;
          }
          &.shareIco3{
            background-position: -8.8rem;
          }
        }
      }
    }
    .chViewInfo {
      font-size: 1.6rem;
      line-height: 1.8rem;
      letter-spacing: -0.02em;
      color: $LGBlack;
      margin-top: 2.4rem;
      a {
        svg {
          vertical-align: middle !important;
          margin-top: -0.5rem;
        }
      }
      span {
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: -0.02em;
        color: $RedD0;
        margin: 0 0.8rem 0 1.2rem;
      }
    }
  }
}

/* step */
.step {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  li {
    text-align: center;
    position: relative;
    width: 9.2rem;
    padding-right: 1.5rem;
    margin-right: 0.3rem;
    span {
      display: block;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: -0.02em;
      color: $GrayAE;
      &.stepNum {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: 0.1rem solid $GrayD9;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 3.5rem;
        letter-spacing: -0.02em;
        text-align: center;
        color: $GrayAE;
        margin: 0 auto 1.3rem;
      }
    }
    &.stepEnd {
      .stepNum {
        border: 0.1rem solid $LGBlack;
        background-color: $LGBlack;
        background-image: url(/common/images/icon/joinChk.png);
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -9999rem;
      }
      span {
        color: $LGBlack;
        font-weight: 600;
      }
    }
    &.stepOn {
      .stepNum {
        border: 0.1rem solid $RedD0;
      }
      span {
        color: $RedD0;
        font-weight: 600;
      }
    }
    &::before {
      display: block;
      width: 1.2rem;
      height: 0.3rem;
      background-image: url(/common/images/icon/dot.png);
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 1.6rem;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      width: 7.7rem;
      &::before {
        width: 0;
      }
    }
  }
}

/* popup */
.popPanel {
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  .bgClose {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
  }
  .popConWrap {
    position: relative;
    min-width: 46rem;
    min-height: 30rem;
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: hidden;
    &.wid500 {
      width: 50rem;
    }
    &.wid678 {
      width: 67.8rem;
    }
    .popTitle {
      padding: 3rem 3rem 4rem;
      h3 {
        text-align: left;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: -0.02em;
        font-weight: 600;
        color: $LGBlack;
      }
    }
    .popCon {
      min-height: 225px;
      padding: 0 3rem 5rem;
      .joinPop {
        font-size: 1.6rem;
        line-height: 2.56rem;
        letter-spacing: -0.02em;
        color: $LGBlack;
      }
    }
    .popFooter {
      .type2 {
        display: flex;
        justify-content: space-between;
      }
    }
    .close {
      position: absolute;
      right: 3rem;
      top: 3rem;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url(/common/images/icon/popClose.png);
      text-indent: -9999rem;
      font-size: 0;
    }
  }
  &.active {
    display: flex;
  }
}
/*첨부파일 폼*/
.fileUpload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    font-size: 1.3rem;
    line-height: 1.82rem;
    letter-spacing: -0.02em;
    color: $Gray6B;
    margin-left: 2rem;
  }
}
.fileAdd {
  height: 4.8rem;
  line-height: 4.8rem;
  font-weight: 400 !important;
}
.fileUploadC {
  margin-top: 1.5rem;
}
.fileUploadForm {
  width: 100%;
  height: 4.8rem;
  background-color: $GrayF5;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  & + .fileUploadForm {
    margin-top: 1rem;
  }
  .fileDelete {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(/common/images/icon/fileClose.png);
    text-indent: -9999;
    font-size: 0;
    position: absolute;
    right: 2rem;
  }

  input {
    position: relative;
    z-index: -1;
    width: 1px;
    height: 1px;
  }

  .fileName {
    font-size: 1.4rem;
    color: $LGBlack;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-left: 1rem;
  }

  label.uploadBtn {
    position: relative;
    display: inline-block;
    width: 8.9rem;
    height: 3.8rem;
    border-radius: 0.5rem;
    color: $LGBlack;
    font-size: 1.4rem;
    line-height: 3.8rem;
    vertical-align: middle;
    background-color: $White;
    cursor: pointer;
    border: 1px solid $GrayAE;
    text-align: center;
  }
}
