@charset "utf-8";
body {
  padding-bottom: 100px;
}
#header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 40px 70px 40px;
  border-top: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.8);
}
