@import "_variables", "_mixin";

#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 7.2rem;

  // background-color: rgba(0, 0, 0, 0.1);
  .headerWrap {
    *{
      transition: all 0.3s;
    }
    display: flex;
    height: 7.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;

    .logo {
      a {
        font-size: 2.8rem;
        color: $White;
        font-weight: 600;

        span {
          font-size: 3rem;
          font-weight: 700;
          padding-right: 1rem;
        }
      }
    }

    #gnb {
      >ul {
        display: flex;

        >li {
          padding-right: 6rem;
          position: relative;
          &:hover,
          &.gnbMenuOn{
            >a{
              &::before{
                display: block;
                width: calc(100% - 6rem);
                height: 0.2rem;
                background-color: $LGBlack;
                position: absolute;
                bottom: -2.5rem;
              }
            }
          }

          &:last-child{
            padding-right: 0;
          }

          &.aPoint {
            background-image: url(/common/images/icon/apoint.png);
            background-repeat: no-repeat;
            background-position: right top;
            padding-right: 0.8rem;
            >a{
              &::before{
                width: 100%;
              }
            }
            
          }

          >ul {
            position: absolute;
            height: 0;
            overflow: hidden;
            margin-top: 2.7rem;
            z-index: 10;

            li {
              margin-bottom: 1.8rem;
              a {
                color: $LGBlack;
                font-size: 1.5rem;
                line-height: 1.5rem;
                &:hover,
                &:focus{
                  color:$BrandColorRed;
                }
              }
            }
          }

          a {
            font-size: 1.8rem;
            font-weight: 600;
            color: $White;
            padding-top: 2.6rem;
            padding-bottom: 2.7rem;
          }
        }
        &.gnbOn {
          &::before{
            display: block;
            width: 100%;
            height: 14.1rem;
            background-color: $White;
            position: absolute;
            top:7.2rem;
            left: 0;
          }
          >li{
            >ul {
              height: auto;
              padding-top: 2rem;
            }
          }
        }
      }
    }

    .logMenu {
      svg{
        vertical-align: middle;
        path{
         stroke: $GrayD9;
        }
      }
      a {
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: $GrayD9;
      }
      span {
        width: 0.1rem;
        height: 1rem;
        margin: 0 0.7rem;
        display: inline-block;
        background-color: $GrayD9;
        transform: rotate(24.15deg);
      }
    }
  }

  &.headerDefault,
  &.mainHeaderHover {
    //흰배경 검정폰트
    background-color: $White;

    .headerWrap {
      .logo {
        a {
          color: $LGBlack;

          span {
            color: $BrandColorRed;
          }
        }
      }

      #gnb {
        >ul {
          >li {
            a {
              color: $LGBlack;
            }
          }
        }
      }

      .logMenu {
          svg{
            path{
              stroke: $Gray6B;
            }
          }
          color: $Gray6B;
          span {
            background-color: $GrayAE;
          }
        }
      }
    }
  }


#footer {
  width: 100%;
  height: auto;
  background-color: #333333;
  padding: 4rem 4rem 5rem;
  .footerCon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    ul {
      display: flex;
    }

    .footerMenu {
      .footerLogo{
        margin-right: 5rem;
        font-size: 2.8rem;
        font-weight: 600;
        color:$Gray8E;
        span{
          font-size: 3rem;
          font-weight: 700;
          color:$Gray8E;
          padding-right: 1rem;
        }
      }

      >li{
        >ul{
          >li{
            margin-right: 2rem;
            padding-top: 0.8rem;
  
            a {
              font-size: 1.5rem;
              line-height: 1.5rem;
              color: $GrayAE;
    
              strong {
                color: $White;
                font-weight: 600;
              }
            }
          }
        }
        >p{
          margin-top: 2rem;
          font-size: 1.2rem;
          line-height: 1.2rem;
          color: $Gray8E;
        }
      } 
      
    }

    .subscribe {
      li {
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: $Gray8E;
        font-weight: 600;
        margin-left: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .scribeBox {
        width: 59rem;
        height: 4.8rem;
        background-color: #262626;
        border-radius: 2.4rem;
        

        >span {
          width: calc(100% - 12rem);
          display: block;

          input {
            padding: 0 0 0 3rem;
            width: 100%;
          }
        }
      }
    }
  }
}

#lnb {
  width: 34rem;
  height: auto;
  background-color: $White;
  box-shadow: 1rem 0.8rem 4rem rgba(0, 0, 0, 0.06);
  border-radius: 1.5rem;
  padding: 3.7rem 2rem 4rem;

  .lnbLogo {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      &:first-child {
        margin-right: 0.4rem;
      }

      img {
        vertical-align: middle;
      }
    }
  }

  .lnbSearch { //채용공고에서 사용, 채널에서 주석처리
    width: 100%;
    height: 5.4rem;
    border-radius: 2.7rem;
    background-color: #f5f5f5;
    padding: 0 2rem;
    margin: 1.6rem 0 2rem;
    display: flex;
    align-items: center;
    line-height: 5.4rem;

    input {
      width: calc(100% - 3rem);
      padding: 1.5rem 1rem;
      font-size: 1.6rem;

      &::placeholder {
        color: #aeaeae;
      }
    }
    .btn{
      img{
        vertical-align: middle;
      }
    }
  }

  .lnbMenu {
    li {
      margin-bottom: 3rem;
      padding: 0 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: inline-block;
        i{
          svg{
            vertical-align: middle;
            margin-top: -0.2rem;
            
          }
        }
        span {
          font-size: 1.7rem;
          line-height: 2.3rem;
          letter-spacing: -0.02em;
          color: $GrayAE;
          font-weight: 600;
          margin-left: 1.3rem;
        }

        &:hover,
        &:focus {
          span {
            color: $LGBlack;
          }
        }
      }

      &.lnbMenuOn {
        a {
          span {
            color: $LGBlack;
          }
        }
        &.lnbIco01 {
          a{
            i{
              svg{
                path{
                  fill:$LGBlack;
                }
              }
            }
          }
        }
        &.lnbIco04 {
          a{
            i{
              svg{
                path{
                  fill:$LGBlack;
                }
              }
            }
          }
        }
        &.lnbIco05 {
          a{
            i{
              svg{
                path{
                  fill:$LGBlack;
                }
              }
            }
          }
        }
        &.lnbIco02{
          a{
            i{
              svg{
                path{
                  stroke:$LGBlack;
                }
              }
            }
          }
        }
        &.lnbIco03{
          a{
            i{
              svg{
                path{
                  stroke:$LGBlack;
                }
              }
            }
          }
        }
      }
      &.lnbIco02,
      &.lnbIco03{
        a{
          &:hover,
          &:focus{
            i{
              svg{
                path{
                  stroke:$LGBlack;
                }
              }
            }
          }
        }
      }
      &.lnbIco01,
      &.lnbIco04,
      &.lnbIco05{
        a{
          &:hover,
          &:focus{
            i{
              svg{
                path{
                  fill:$LGBlack;
                }
              }
            }
          }
        }
      }
    }
  }

  .lnbSns {
    padding: 8rem 2rem;

    h4 {
      font-weight: 600;
      color: $LGBlack;
      letter-spacing: -0.02em;
    }

    ul {
      display: flex;

      li {
        margin-right: 1.2rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          background-image: url(./../images/icon/sns.png);
          background-repeat: no-repeat;
          display: block;
          width: 5.6rem;
          height: 5.6rem;

          &:hover,
          &:focus {
            background-image: url(./../images/icon/snsOn.png);
          }
        }

        &.sns01 {
          a {
            background-position: left;
          }
        }

        &.sns02 {
          a {
            background-position: -6.8rem;
          }
        }

        &.sns03 {
          a {
            background-position: -13.6rem;
          }
        }

        &.sns04 {
          a {
            background-position: -20.4rem;
          }
        }
      }
    }
  }

  .postList {
    h5 {
      font-weight: 600;
      color: $LGBlack;
      padding: 0 2rem 0.4rem;
    }

    ul {
      li {
        padding: 2.6rem 1.5rem;
        border-radius: 1rem;

        &:nth-child(2n) {
          background-color: #f5f5f5;
        }

        a {
          display: block;

          .postTitle {
            font-size: 1.6rem;
            line-height: 1.6rem;
            letter-spacing: -0.02em;
            color: $LGBlack;
            margin-bottom: 1.5rem;
          }

          .postCon {
            font-size: 1.4rem;
            line-height: 1.4rem;
            letter-spacing: -0.02em;
            color: $Gray6B;

            .pointC {
              color: $BrandColorRed;
              position: relative;
              padding-right: 1.1rem;
              margin-right: 1rem;

              &::before {
                display: block;
                width: 0.1rem;
                height: 1.1rem;
                background-color: $GrayD9;
                position: absolute;
                right: 0;
                top: 0.2rem;
              }
            }
          }
        }
      }
    }
  }
  &.recruitLnb{
    box-shadow: none;
    padding: 0;
    width: 33.8rem;
    .rcLnbT{ 
      display: flex;
      justify-content: space-between;
      padding: .9rem 2rem;
      h5{
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: $LGBlack;
      }
    }
    .lnbGuideTxt{
      margin: 4rem 2rem;
      font-size: 1.8rem;
      line-height: 2.34rem;
      letter-spacing: -0.02em;
      color: $LGBlack;
    }
    .guideAcc{
      padding: 0 2rem;
      border-top: 0;
      .accItem{
        border-bottom: .1rem solid $GrayD9;
        .q{
          .qBtn{
            min-height: 5.8rem;
            padding: 0;
            div{
              line-height: 5.8rem;
            }
            &:after{
              background-image: url(/common/images/icon/recuitArrow.svg);
              width: 1.6rem;
              height: 1.6rem;
              top: calc(50% - 0.8rem);
            }
          }
        }
        &.active{
          border-bottom: 0;
          .q{
            .qBtn{
              &:after{
                background-image: url(/common/images/icon/recuitArrowC.svg);
              }
            }
          }
        }
      }
      .a{
        .accCon{
          padding: 1rem 0 3rem;
          border-top:.1rem solid $GrayD9;
          .menu2Dep{
            margin-top: 1rem;
            >a{
              display: inline-block;
              padding: .9rem 1.4rem .9rem 3rem;
              background-image: url(/common/images/icon/menu2dep.svg);
              background-repeat: no-repeat;
              background-position: 1.4rem center;
              border:.1rem solid $GrayD9;
              border-radius: .5rem;
              font-size: 1.4rem;
              line-height: 1.4rem;
              letter-spacing: -0.02em;
              color:$LGBlack;
            }
            >ul{
              display: none;
            }
            &.active{
              >a{
                border:.1rem solid $RedD0;
                color:$RedD0;
                background-image: url(/common/images/icon/menu2depOn.svg);
              }
              >ul{
                margin-top: 1rem;
                padding: 1rem 1.6rem 0.8rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                li{
                  margin-bottom: 1.2rem;
                  margin-right: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .lnbHashtag{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: -2rem;
    padding: 0 2rem;
    li{
      margin-right: .5rem;
      margin-bottom: .8rem;
      a{
        display: inline-block;
        background-color: #f8f8f8;
        border-radius: 1.5rem;
        line-height: 1.5rem;
        padding: .8rem 1.4rem;
        font-size: 1.4rem;
        letter-spacing: -0.02em;
        color:$Gray8E;

        &.active{
          background-color: #FFE3EA;
          color:$RedD0;
        }
      }
    }
  }
}