@import "_variables", "_mixin";

#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 7.2rem;

  // background-color: rgba(0, 0, 0, 0.1);
  .headerWrap {
    *{
      transition: all 0.3s;
    }
    display: flex;
    height: 7.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;

    .logo {
      a {
        font-size: 2.8rem;
        color: $White;
        font-weight: 600;

        span {
          font-size: 3rem;
          font-weight: 700;
          padding-right: 1rem;
        }
      }
    }


    #gnb {
      >ul {
        display: flex;

        >li {
          padding-right: 6rem;
          position: relative;
          &:hover,
          &.gnbMenuOn{
            >a{
              &::before{
                display: block;
                width: calc(100% - 6rem);
                height: 0.2rem;
                background-color: $LGBlack;
                position: absolute;
                bottom: -2.5rem;
              }
            }
          }

          &:last-child{
            padding-right: 0;
          }

          &.aPoint {
            background-image: url(/common/images/icon/apoint.png);
            background-repeat: no-repeat;
            background-position: right top;
            padding-right: 0.8rem;
            >a{
              &::before{
                width: 100%;
              }
            }
            
          }

          >ul {
            position: absolute;
            height: 0;
            overflow: hidden;
            margin-top: 2.7rem;
            z-index: 10;

            li {
              margin-bottom: 1.8rem;
              a {
                color: $LGBlack;
                font-size: 1.5rem;
                line-height: 1.5rem;
                &:hover,
                &:focus{
                  color:$BrandColorRed;
                }
              }
            }
          }

          a {
            font-size: 1.8rem;
            font-weight: 600;
            color: $White;
            padding-top: 2.6rem;
            padding-bottom: 2.7rem;
          }
        }
        &.gnbOn {
          &::before{
            display: block;
            width: 100%;
            height: 14.1rem;
            background-color: $White;
            position: absolute;
            top:7.2rem;
            left: 0;
          }
          >li{
            >ul {
              height: auto;
              padding-top: 2rem;
            }
          }
        }
      }
    }

    .logMenu {
      svg{
        vertical-align: middle;
        path{
         stroke: $GrayD9;
        }
      }
      a {
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: $GrayD9;
      }
      span {
        width: 0.1rem;
        height: 1rem;
        margin: 0 0.7rem;
        display: inline-block;
        background-color: $GrayD9;
        transform: rotate(24.15deg);
      }
    }
  }

  &.headerDefault,
  &.mainHeaderHover {
    //흰배경 검정폰트
    background-color: $White;

    .headerWrap {
      .logo {
        a {
          color: $LGBlack;

          span {
            color: $BrandColorRed;
          }
        }
      }

      #gnb {
        >ul {
          >li {
            a {
              color: $LGBlack;
            }
          }
        }
      }

      .logMenu {
          svg{
            path{
              stroke: $Gray6B;
            }
          }
          color: $Gray6B;
          span {
            background-color: $GrayAE;
          }
        }
      }
    }
  }


#footer {
  width: 100%;
  height: auto;
  background-color: #333333;
  padding: 4rem 4rem 5rem;
  .footerCon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    ul {
      display: flex;
    }

    .footerMenu {
      .footerLogo{
        margin-right: 5rem;
        display: flex;
        justify-content: flex-start;
        span{
          display: block;
          line-height: 2.6rem;
          position: relative;
          img{
            vertical-align: middle;
          }
          &:first-child{
            padding-right: 1.6rem;
            margin-right: 1.5rem;
            &::before{
              position: absolute;
              width: .1rem;
              height: 1.6rem;
              background-color: $Gray6B;
              display: block;
              right:0;
              top:.5rem;
            }
          }
        }
      }

      >li{
        >ul{
          >li{
            margin-right: 2rem;
            padding-top: 0.8rem;
  
            a {
              font-size: 1.5rem;
              line-height: 1.5rem;
              color: $GrayAE;
    
              strong {
                color: $White;
                font-weight: 600;
              }
            }
          }
        }
        >p{
          margin-top: 2rem;
          font-size: 1.2rem;
          line-height: 1.2rem;
          color: $Gray8E;
        }
      } 
      
    }

    .subscribe {
      li {
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: $Gray8E;
        font-weight: 600;
        margin-left: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .scribeBox {
        width: 59rem;
        height: 4.8rem;
        background-color: #262626;
        border-radius: 2.4rem;
        

        >span {
          width: calc(100% - 12rem);
          display: block;

          input {
            padding: 0 0 0 3rem;
            width: 100%;
          }
        }
      }
    }
  }
}

#lnb {
  width: 34rem;
  height: auto;
  background-color: $White;
  box-shadow: 1rem 0.8rem 4rem rgba(0, 0, 0, 0.06);
  border-radius: 1.5rem;
  padding: 3.7rem 2rem 4rem;

  .lnbLogo {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      &:first-child {
        margin-right: 0.4rem;
      }

      img {
        vertical-align: middle;
      }
    }
  }

  .lnbSearch { //채용공고에서 사용, 채널에서 주석처리
    width: 100%;
    height: 5.4rem;
    border-radius: 2.7rem;
    background-color: #f5f5f5;
    padding: 0 2rem;
    margin: 1.6rem 0 2rem;
    display: flex;
    align-items: center;
    line-height: 5.4rem;

    input {
      width: calc(100% - 3rem);
      padding: 1.5rem 1rem;
      font-size: 1.6rem;

      &::placeholder {
        color: #aeaeae;
      }
    }
    .btn{
      img{
        vertical-align: middle;
      }
    }
  }

  .lnbMenu {
    li {
      margin-bottom: 3rem;
      padding: 0 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: inline-block;
        i{
          svg{
            vertical-align: middle;
            margin-top: -0.2rem;
            
          }
        }
        span {
          font-size: 1.7rem;
          line-height: 2.3rem;
          letter-spacing: -0.02em;
          color: $GrayAE;
          font-weight: 600;
          margin-left: 1.3rem;
        }

        &:hover,
        &:focus {
          span {
            color: $LGBlack;
          }
        }
      }

      &.lnbMenuOn {
        a {
          span {
            color: $LGBlack;
          }
        }
        &.lnbIco01 {
          a{
            i{
              svg{
                path{
                  fill:$LGBlack;
                }
              }
            }
          }
        }
        &.lnbIco04 {
          a{
            i{
              svg{
                path{
                  fill:$LGBlack;
                }
              }
            }
          }
        }
        &.lnbIco05 {
          a{
            i{
              svg{
                path{
                  fill:$LGBlack;
                }
              }
            }
          }
        }
        &.lnbIco02{
          a{
            i{
              svg{
                path{
                  stroke:$LGBlack;
                }
              }
            }
          }
        }
        &.lnbIco03{
          a{
            i{
              svg{
                path{
                  stroke:$LGBlack;
                }
              }
            }
          }
        }
      }
      &.lnbIco02,
      &.lnbIco03{
        a{
          &:hover,
          &:focus{
            i{
              svg{
                path{
                  stroke:$LGBlack;
                }
              }
            }
          }
        }
      }
      &.lnbIco01,
      &.lnbIco04,
      &.lnbIco05{
        a{
          &:hover,
          &:focus{
            i{
              svg{
                path{
                  fill:$LGBlack;
                }
              }
            }
          }
        }
      }
    }
  }

  .lnbSns {
    padding: 8rem 2rem;

    h4 {
      font-weight: 600;
      color: $LGBlack;
      letter-spacing: -0.02em;
    }

    ul {
      display: flex;

      li {
        margin-right: 1.2rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          background-image: url(./../images/icon/sns.png);
          background-repeat: no-repeat;
          display: block;
          width: 5.6rem;
          height: 5.6rem;

          &:hover,
          &:focus {
            background-image: url(./../images/icon/snsOn.png);
          }
        }

        &.sns01 {
          a {
            background-position: left;
          }
        }

        &.sns02 {
          a {
            background-position: -6.8rem;
          }
        }

        &.sns03 {
          a {
            background-position: -13.6rem;
          }
        }

        &.sns04 {
          a {
            background-position: -20.4rem;
          }
        }
      }
    }
  }

  .postList {
    h5 {
      font-weight: 600;
      color: $LGBlack;
      padding: 0 2rem 0.4rem;
    }

    ul {
      li {
        padding: 2.6rem 1.5rem;
        border-radius: 1rem;

        &:nth-child(2n) {
          background-color: #f5f5f5;
        }

        a {
          display: block;

          .postTitle {
            font-size: 1.6rem;
            line-height: 1.6rem;
            letter-spacing: -0.02em;
            color: $LGBlack;
            margin-bottom: 1.5rem;
          }

          .postCon {
            font-size: 1.4rem;
            line-height: 1.4rem;
            letter-spacing: -0.02em;
            color: $Gray6B;

            .pointC {
              color: $BrandColorRed;
              position: relative;
              padding-right: 1.1rem;
              margin-right: 1rem;
            }
            span{
              position: relative;
              padding-right: 1.1rem;
              margin-right: 1rem;
              &::before {
                display: block;
                width: 0.1rem;
                height: 1.1rem;
                background-color: $GrayD9;
                position: absolute;
                right: 0;
                top: 0.2rem;
              }
              &:last-child{
                &::before{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &.recruitLnb{
    box-shadow: none;
    padding: 0;
    width: 33.8rem;
    .rcLnbT{ 
      display: flex;
      justify-content: space-between;
      padding: .9rem 2rem;
      h5{
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: $LGBlack;
      }
    }
    .lnbGuideTxt{
      margin: 4rem 2rem;
      font-size: 1.8rem;
      line-height: 2.34rem;
      letter-spacing: -0.02em;
      color: $LGBlack;
    }
    .guideAcc{
      padding: 0 2rem;
      border-top: 0;
      .accItem{
        border-bottom: .1rem solid $GrayD9;
        .q{
          .qBtn{
            min-height: 5.8rem;
            padding: 0;
            div{
              line-height: 5.8rem;
            }
            &:after{
              background-image: url(/common/images/icon/recuitArrow.svg);
              width: 1.6rem;
              height: 1.6rem;
              top: calc(50% - 0.8rem);
            }
          }
        }
        &.active{
          border-bottom: 0;
          .q{
            .qBtn{
              &:after{
                background-image: url(/common/images/icon/recuitArrowC.svg);
              }
            }
          }
        }
      }
      .a{
        .accCon{
          padding: 1rem 0 3rem;
          border-top:.1rem solid $GrayD9;
          .menu2Dep{
            margin-top: 1rem;
            >a{
              display: inline-block;
              padding: .9rem 1.4rem .9rem 3rem;
              background-image: url(/common/images/icon/menu2dep.svg);
              background-repeat: no-repeat;
              background-position: 1.4rem center;
              border:.1rem solid $GrayD9;
              border-radius: .5rem;
              font-size: 1.4rem;
              line-height: 1.4rem;
              letter-spacing: -0.02em;
              color:$LGBlack;
            }
            >ul{
              display: none;
            }
            &.active{
              >a{
                border:.1rem solid $RedD0;
                color:$RedD0;
                background-image: url(/common/images/icon/menu2depOn.svg);
              }
              >ul{
                margin-top: 1rem;
                padding: 1rem 1.6rem 0.8rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                li{
                  margin-bottom: 1.2rem;
                  margin-right: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
    .postList{
      margin-top: 6rem;
      h5{
        padding: 0;
        margin-bottom: 1.6rem;
      }
      ul{
        li{
          background-color:#f8f8f8;
          margin-bottom: 1rem;
          padding: 2.4rem 3rem;
          .postTitle{
            line-height: 2.4rem;
          }
        }
      }
    }
  }
  .lnbHashtag{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: -2rem;
    padding: 0 2rem;
    li{
      margin-right: .5rem;
      margin-bottom: .8rem;
      a{
        display: inline-block;
        background-color: #f8f8f8;
        border-radius: 1.5rem;
        line-height: 1.5rem;
        padding: .8rem 1.4rem;
        font-size: 1.4rem;
        letter-spacing: -0.02em;
        color:$Gray8E;

        &.active{
          background-color: #FFE3EA;
          color:$RedD0;
        }
      }
    }
  }
  //마이페이지 lnb
  &.mypageLnb{
    box-shadow: none;
    padding: 0 4rem;
    .lnbWrap{
      >div{
        margin-top: 6rem;
        >ul{
          &:first-child{
            border-bottom: .1rem solid $GrayE7;
            padding-bottom: 3rem;
            margin-bottom: 3rem;
          }
          li{
            & + li{
              margin-top: 3rem;
            }
            &.active{
              a{
                color:$LGBlack;
                i{
                  svg{
                    path{
                      stroke: $LGBlack;
                    }
                    rect{
                      stroke: $LGBlack;
                    }
                  }
                }
              }
            }
            a{
              font-size: 1.7rem;
              font-weight: 600;
              letter-spacing: -0.02em;
              line-height: 1.7rem;
              color:$GrayAE;
              i{
                margin-right: 2rem;
                svg{
                  vertical-align: middle;
                }
              }
              &:hover, 
              &:focus{
                color:$LGBlack;
                i{
                  svg{
                    path{
                      stroke: $LGBlack;
                    }
                    rect{
                      stroke: $LGBlack;
                    }
                  }
                }
              }
            }
          }
        }
        &.mySNS{
          margin-top: 8rem;
          h5{
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 2.2rem;
            letter-spacing: -0.02em;
            color:$LGBlack;
          }
          ul{
            margin-top: 3rem;
            display: flex;
            justify-content: flex-start;
            li{
              margin-right: 1.2rem;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
.mobile{
  display: none;
}
//반응형
@include tablet{
  *{
    transition: none;
  }
  .mobile{
    display: block;
  }
  /*브라우저 사이즈768px이상, 1199px 이하일때*/

  #header{
    position: relative;
    height: auto;
    .headerWrap{
      position: fixed;
      width: 100%;
      height: 6rem;
      padding: 0 2rem;
      background-color: $White;
      &.mGnbBtnOn{
        #gnb{
          >div{
            &.mGnbBtn{
              a{
                background-image: url(/common/images/icon/mGnbClose.png);
                width: 2rem;
              }
            }
          }
          >ul{
            display: block;
          }  
        }
        .logMenu{
          display: block;
        }
      }
      #gnb{
        >div{
          position: relative;
          z-index: 10;
          &.mGnbBtn{
            a{
              display: block;
              width: 2.4rem;
              height: 2rem;
              background-image: url(/common/images/icon/mGnb.png);
            }
          }
          
        }
        >ul{
          position: absolute;
          display: none;
          width: 100%;
          height:auto;
          left: 0;
          top:0;
          padding-top:18.5rem;
          background-color: #f8f8f8;
          >li{
            background-color: $White;
            padding: 0 2rem 4rem;
            &:first-child{
              padding-top: 4rem;
            }
            &.gnbOn{
              >a{
                color:$RedD0;
                &:after{
                  transform: rotate(0.5turn);
                  transition: 0.3s;
                }
              }
              >ul{
                display: block;
              }
            }
            &.depNo{
              a{
                &:after{
                  background-image: none;
                }
              }
            }
            >a{
              width: 100%;
              display:block;
              padding: 0;
              font-size: 2.2rem;
              background-repeat: no-repeat;
              position: relative;
              &::before{
                display: none !important;
              }
              &:after{
                position: absolute;
                background-image: url(/common/images/icon/mGnbA.png);
                display: block;
                width: 1.7rem;
                height: 1rem;
                right:0;
                top:.6rem;
              }
            }
            &.aPoint{
              background-image: none;
              a{
                display: inline-block;
                width: auto;
                padding-right: 0.8rem;
                background-image: url(/common/images/icon/apoint.png);
                background-position: right top;
                &:after{
                  display: none !important;
                }
              }
            }
            >ul{
              height: auto;
              position: inherit;
              margin-top: 0;
              padding: 2.5rem 1.5rem 0;
              display: none;
              >li{
                margin-bottom: 2rem;
                &:last-child{
                  margin-bottom: 0;
                }
                >a{
                  padding: 0;
                  display: block;
                  width: 100%;
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
      }
      .logMenu{
        position: absolute;
        display: none;
        top:5rem;
        width: 100%;
        left: 0;
        padding: 0 2rem;
        p{
          font-size: 2rem;
          line-height: 2rem;
          letter-spacing: -0.02em;
          color:$LGBlack;
          i{
            display: inline-block;
            width: 1.9rem;
            height: 1.9rem;
            vertical-align: middle;
            margin-right: .8rem;
            background-image: url(/common/images/icon/mGnbMy.png);
            background-position: center;
          }

          span{
            display: inline;
            background-color: transparent;
            transition: none;
            margin: 0;
            font-weight: 600;
          }
        }
        div{
          margin-top: 3.5rem;
          display: flex;
          justify-content: space-between;
          width: 100%;
          svg{
            display: none;
          }
          span{
            display: none;
          }
          a{
            display: block;
            width: 48.35%;
            height: 5rem;
            border-radius: 2.5rem;
            text-align: center;
            font-size: 1.5rem;
            line-height: 5rem;
            letter-spacing: -0.02em;
            &.mLog{
              background-color: $LGBlack;
              color:$White;
            }
            &.mJoin{
              background-color: $White;
              border:.1rem solid $GrayAE;
              color:$LGBlack;
            }
          }
        }
      }
    }
  }
  #footer{
    padding: 3rem 2rem 4rem;
    .footerCon{
      display: block;
      .footerLogo{
        margin-bottom: 2rem;
      }
      .footerMenu{
        li{
          ul{
            li{
              padding-top: 2rem;
              a{
                font-size: 1.4rem;
                line-height: 1.4rem;
              }
            }
            p{
              font-size: 1.2rem;
            }
          }
        }
      }
      ul{
        display: block;
      }
      .subscribe {
        margin-top: 5rem;
        li{
          margin-left: 0;
          font-size: 1.8rem;
        }
        .scribeBox{
          width: 100%;
          margin-top: 1.5rem;
          >span{
            width: calc(100% - 10rem);
            input{
              padding-left: 2rem;
            }
          }
          a{
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@include mobile{ 
  /*브라우저 사이즈767px이하일때*/

}

