@import "_variables", "_mixin";

//subLayout으로 옮기기
#header{
    background-color: $White;

    .headerWrap {
        .logo {
        a {
            color: $LGBlack;

            span {
            color: $BrandColorRed;
            }
        }
        }

        #gnb {
        >ul {
            >li {
            a {
                color: $LGBlack;
            }
            }
        }
        }

        .logMenu {
            svg{
                path{
                    stroke: $Gray6B;
                }
            }
        a {
            
            color: $Gray6B;

            span {
            background-color: $GrayAE;
            }
        }
        }
    }
}

//서브 배경색상
.subBGW{
    background-color: $White;
}
.loginWrap{
    max-width: 58rem;
    width: 100%;
    height: auto;
    margin: 4.2rem auto 0;
    text-align: center;
    >div{
        max-width: 50rem;
        width: 100%;
        margin: 0 auto;
    }
    .loginForm{
        margin-top: 6rem;
        .inputBox + .inputBox{
            margin-top: 1.2rem;
        }
    }
    .loginMenu{
        display: flex;
        justify-content: center;
        margin: 3rem 0 6rem;
        li{
            position: relative;
            padding-right: 1.5rem;
            margin-right: 1.4rem;
            &::before{
                display: block;
                width: 0.1rem;
                height: 1.2rem;
                background-color: $GrayD9;
                position: absolute;
                right: 0;
                top:0.3rem;
            }
            a{
                @include subText1;
                color: $Gray6B;
                line-height: 1.4rem;
            }
            &:last-child{
                margin-right: 0;
                padding-right: 0;
                &::before{
                    width: 0;
                }
            }
        }
    }
    .subTitle2{
        color:$LGBlack;

        &.pwText{
            line-height: 2.56rem;
            span{
                color:$RedD0;
                text-decoration: underline;
            }
        }
    }
    .loginSNS{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        li{
            margin: 0 1rem;
        }
    }
    /* 비밀번호 변경 */
    .formPWC{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        >p{
            width: calc(100% - 36rem);
            @include subTitle2;
            color: $LGBlack;
            text-align: left;
            padding-top: 1.7rem;

        }
        .inputBox{
            width: 36rem;
        }
        &+.formPWC{
            margin-top: 2rem;
        }
        .forminfo{
            font-size: 1.3rem;
            line-height: 1.3rem;
            letter-spacing: -0.02em;
            color:$Gray6B;
            text-align: left;
            margin-top: 1rem;
        }
    }
    .pwInfo{
        border-top:.1rem solid $GrayD9;
        text-align: left;
        padding-top: 1.5rem;
        margin-top: 3rem;
        padding-left: 2.6rem;
        @include subText1;
        line-height: 1.8rem;
        color:$Gray6B;
        background-image: url(/common/images/icon/infoAlert.png);
        background-repeat: no-repeat;
        background-position: left 1.5rem;
    }
    /*로그인 완료*/
    .completeTxt{
       font-size: 2.4rem;
       line-height: 2.4rem;
       letter-spacing: -0.02em;
       font-weight: 600;
       color: $LGBlack;
       margin: 2.5rem 0 6rem;
       span{
        font-weight: 600;
        color:$RedD0;
       }
    }
    .loginComBox{
        .boxGray{
            width: 100%;
            height: 20rem;
            background-image: url(/common/images/sub/grayBG.png);
            padding: 4rem ;
            margin-bottom: 2rem;
           p{
            @include subTitle2;
            color:$Gray6B;
            line-height: 2.56rem;


           }
           .name{
            margin-bottom: 2rem;
            font-size: 1.8rem;
            line-height: 2.1rem;
            letter-spacing: -0.02em;
            color:$Gray6B;
         
            span{
                color:$LGBlack;
                background-image: url(/common/images/icon/smile.png);
                background-repeat: no-repeat;
                background-position: left center;
                padding-left: 2.9rem;
                line-height: 2.1rem;
                display: inline-block;
            }
           }
        }
        
    }
    .loginComInfo{
        border-top:.1rem solid $GrayD9;
        padding-top: 1.5rem;
        margin-top: 5rem;
    }
}
/* 폼 오류 */
.formError{
    &.inputBox{
        input{
            border: 0.1rem solid $RedD0;
        }
    }
   &+.formError{
    margin-top: 1.2rem;
   }
}
p.formError{
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.3rem;
    letter-spacing: -0.02em;
    color:$RedD0;
    margin-top: 1.2rem;
}