@import "_variables", "_mixin";

/* 레이어팝업 */
.popPanel {
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  .bgClose {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
  }
  .popConWrap {
    position: relative;
    min-width: 46rem;
    min-height: 30rem;
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: hidden;
    &.wid500 {
      width: 50rem;
    }
    &.wid678 {
      width: 67.8rem;
    }
    .popTitle {
      padding: 3rem 3rem 4rem;
      h3 {
        text-align: left;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: -0.02em;
        font-weight: 600;
        color: $LGBlack;
      }
    }
    .popCon {
      min-height: 225px;
      padding: 0 3rem 5rem;
      width: 100% !important;
      .joinPop {
        font-size: 1.6rem;
        line-height: 2.56rem;
        letter-spacing: -0.02em;
        color: $LGBlack;
      }
    }
    .popFooter {
      .type2 {
        display: flex;
        justify-content: space-between;
      }
    }
    .close {
      position: absolute;
      right: 3rem;
      top: 3rem;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url(/common/images/icon/popClose.png);
      text-indent: -9999rem;
      font-size: 0;
    }
  }
  &.active {
    display: flex;
  }
}

/* 윈도우팝업 */
.popWindow {
  width: 100%;
  height: auto;
  .popConWrap {
    position: relative;
    .popTitle {
      padding: 3rem 3rem 4rem;
      h3 {
        text-align: left;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: -0.02em;
        font-weight: 600;
        color: $LGBlack;
      }
    }
    .popCon {
      padding: 0 3rem 5rem;
    }
  }
  .close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(/common/images/icon/popClose.png);
    text-indent: -9999rem;
    font-size: 0;
  }
}
.popCon {
  .guideBox {
    h5 {
      font-size: 2rem;
      line-height: 2rem;
      letter-spacing: -0.02em;
      color: $LGBlack;
      margin-bottom: 1.5rem;
      font-weight: 600;
    }
    & + .guideBox {
      margin-top: 4rem;
    }
    ul {
      width: 100%;
      height: auto;
      border-top: 0.1rem solid $LGBlack;
      border-bottom: 0.1rem solid $GrayE7;
      padding: 3rem 6.5rem 3rem 0;
      margin-bottom: 4rem;

      li {
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: -0.02em;
        color: $LGBlack;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: -0.02em;
          line-height: 2.56rem;
          color: $RedD0;
          min-width: 6rem;
        }
        p {
          font-size: 1.6rem;
          line-height: 2.56rem;
          letter-spacing: -0.02em;
          color: $LGBlack;
        }
      }
    }
  }

  /* 지원서 작서 안내 */
  .tabMenu {
    &.type2 {
      .tabs {
        border: 0.5rem solid $GrayD9;
        line-height: 5rem;
        border-radius: 3rem;
        justify-content: space-between;
        li {
          width: 20%;
          text-align: center;
          margin-right: 0;
          border-radius: 2.5rem;
          position: relative;
          &::before {
            display: block;
            position: absolute;
            width: 0.1rem;
            height: 1.6rem;
            background-color: $GrayD9;
            right: -0.1rem;
            top: 1.7rem;
          }
          &:last-child {
            &::before {
              width: 0;
            }
          }
          button {
            font-size: 1.6rem;
            line-height: 1.6rem;
            color: $Gray6B;
            width: 100%;
            height: 100%;
          }
          &.tabOn {
            background-color: $RedD0;
            button {
              color: $White;
              font-weight: 600;
            }
            &::before {
              width: 0;
            }
          }
        }
      }
    }
  }
  .icoGuide {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $Gray6B;
    letter-spacing: -0.02em;
    position: relative;
    padding-left: 2.7rem;
    &::before {
      display: block;
      position: absolute;
      width: 1.9rem;
      height: 1.8rem;
      background-image: url(/common/images/icon/infoAlert.png);
      left: 0;
      top: 0;
    }
  }
  .tabConTw {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    .appLft {
      width: 27rem;
      margin-right: 1rem;
      h4 {
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: -0.02em;
        color: $LGBlack;
        font-weight: 600;
        position: relative;
        padding-left: 1.5rem;
        &::before {
          display: block;
          position: absolute;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.25rem;
          background-color: $RedD0;
          left: 0;
          top: 0.5rem;
        }
      }
      ul {
        margin-top: 2rem;
        padding: 0 1.5rem;
        li {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 1.5rem;
          &:last-child {
            margin-bottom: 0;
          }
          span {
            display: block;
            width: 2.2rem;
            height: 2.4rem;
            background-image: url(/common/images/icon/numBg.png);
            background-repeat: no-repeat;
            font-size: 1.2rem;
            line-height: 2.4rem;
            letter-spacing: -0.02em;
            font-weight: 600;
            text-align: center;
            color: $White;
          }
          p {
            font-size: 1.4rem;
            line-height: 1.96rem;
            letter-spacing: -0.02em;
            color: $Gray6B;
            margin-left: 1rem;
            width: calc(100% - 3.2rem);
          }
        }
      }
    }
    .appRgt {
      width: calc(100% - 28rem);
      padding-left: 2rem;
      min-height: 49.2rem;
      height: auto;
      border-left: 0.1rem solid $GrayD9;
    }
  }
}
