@import "_variables", "_mixin";

.subRecruit {
  .subTitleC {
    text-align: center;
    margin-top: 15.2rem;
    margin-bottom: -9rem;
  }

  .subContent {
    padding-top: 0;

    .listLineUp {
      padding: 1rem 0;
    }
  }

  .recruitBox {
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
    padding: 6rem 0 8rem;
    margin-top: 10rem;

    .recruitBoxCon {
      width: 144rem;
      height: auto;
      margin: 0 auto;

      h4 {
        font-weight: 600;
        color: $Black;
      }

      >ul {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;

        li {
          width: 33.8rem;
          height: 32.8rem;
          border-radius: 1.5rem;
          background-color: $White;
          overflow: hidden;

          a {
            display: block;
            width: 100%;
            height: 100%;

            span {
              display: block;

              &.boxImg {
                width: 100%;
                height: 24rem;
              }

              &.boxTitle {
                font-size: 1.8rem;
                letter-spacing: -0.02em;
                color: $Black;
                font-weight: 600;
                line-height: 1.8rem;
                padding: 3rem;
              }
            }
          }
        }
      }
    }
  }

  .subConWrap {
    padding-bottom: 0;

    .chView {
      .chViewContent {
        padding-bottom: 0;
      }
    }
  }
}

.subContent {
  .noData {
    border-top: 0.1rem solid $Gray6B;
    margin-top: 1.6rem;
    text-align: center;
    padding: 12rem 0;

    p {
      font-size: 2rem;
      line-height: 2.6rem;
      letter-spacing: -0.02em;
      color: $LGBlack;
      margin: 2rem auto 6rem;
    }
  }
}