<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LG Careers</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <script src="../../assets/js/lib/jquery-3.6.0.min.js"></script>
    <script src="../../assets/js/lib/jquery.mousewheel.js"></script>
    <script src="../../assets/js/include.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="../../assets/js/layout.js"></script>
    <script src="../../assets/js/main.js"></script>
  </head>
  <body>
    <div id="headers"></div>
    <!--mainHeader END-->
    <div id="container"></div>
    <!--main_line END-->

    <footer id="footer"></footer>
    <script>
      $.ajax({
        url: "./include/header.html",
      }).done(function (data) {
        $("#header").html(data);
        $.getScript("../../assets/js/lib/slick.1.6.0.min.js");
        $.getScript("../../assets/js/include.js");
      });
      $.ajax({
        url: "./../main/main.html",
      }).done(function (data) {
        $("#container").html(data);
        $.getScript("../../assets/js/lib/slick.1.6.0.min.js");
        $.getScript("../../assets/js/main.js");
      });
      $.ajax({
        url: "./include/footer.html",
      }).done(function (data) {
        console.log(data);
        $("#footer").html(data);
        $.getScript("../../assets/js/include.js");
      });
    </script>
  </body>
</html>
