<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LG Careers</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/sub.css" />
    <script src="/assets/js/lib/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/lib/jquery.mousewheel.js"></script>
    <script src="/assets/js/layout.js"></script>
    <script src="/assets/js/main.js"></script>
     <script src="/assets/js/sub.js"></script>
  </head>
  <body>
    <div id="headers"></div>
    <!--mainHeader END-->
    <div id="container"></div>
    <!--main_line END-->

    <footer id="footer"></footer>
    <script>
      $.ajax({
        url: "./include/header.html",
      }).done(function (data) {
        $("#headers").html(data);
        $.getScript("../../assets/js/layout.js");
      });

      $.ajax({
        url: "./include/footer.html",
      }).done(function (data) {
        console.log(data);
        $("#footer").html(data);
      });
    </script>
  </body>
</html>
