<div class="tab-9">
  <h2>09. Accordion</h2>
  <div>
    <h3 class="mT50">.guideAcc</h3>
    <ul class="guideAcc">
      <li class="accItem" data-num="1">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">BS사업본부</div>
            <div class="accQuery">Image Quality</div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="2">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">채용절차</div>
            <div class="accQuery">2. 각 채용 전형 단계별 며 배수를 뽑나요?</div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="3">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">채용절차</div>
            <div class="accQuery">3. 각 채용 전형 단계별 며 배수를 뽑나요?</div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="4">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">채용절차</div>
            <div class="accQuery">4. 각 채용 전형 단계별 며 배수를 뽑나요?</div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다. 계열사 및
            모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각 단계별 배수를
            정해놓고 채용을 진행하지는 않습니다. 계열사 및 모집분야별 지원자 및
            선발규모는 유동적이며 미리부터 각 단계별 배수를 정해놓고 채용을
            진행하지는 않습니다. 계열사 및 모집분야별 지원자 및 선발규모는
            유동적이며 미리부터 각 단계별 배수를 정해놓고 채용을 진행하지는
            않습니다. 계열사 및 모집분야별 지원자 및 선발규모는 유동적이며
            미리부터 각 단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
    </ul>
    <h3 class="mT50">.guideAcc.type2</h3>
    <ul class="guideAcc type2">
      <li class="accItem" data-num="1">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">10</div>
            <div class="accQuery">
              <em class="title">LG디스플레이 채용 정보 채널 안내</em>
              <span class="date">2022.04.01</span>
            </div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            안녕하세요, LG디스플레이 관리자입니다. 코로나19로 인해 이번 채용
            박람회 일정이 변경되었습니다. 자세한 내용은
            <a href="#n">www.lg.com/lg/abcde</a>에서 확인 바랍니다. 감사합니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="2">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">9</div>
            <div class="accQuery">
              <em class="title">LG디스플레이 채용 정보 채널 안내</em>
              <span class="date">2022.04.01</span>
            </div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="3">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">8</div>
            <div class="accQuery">
              <em class="title">LG디스플레이 채용 정보 채널 안내</em>
              <span class="date">2022.04.01</span>
            </div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="4">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">7</div>
            <div class="accQuery">
              <em class="title">LG디스플레이 채용 정보 채널 안내</em>
              <span class="date">2022.04.01</span>
            </div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다. 계열사 및
            모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각 단계별 배수를
            정해놓고 채용을 진행하지는 않습니다. 계열사 및 모집분야별 지원자 및
            선발규모는 유동적이며 미리부터 각 단계별 배수를 정해놓고 채용을
            진행하지는 않습니다. 계열사 및 모집분야별 지원자 및 선발규모는
            유동적이며 미리부터 각 단계별 배수를 정해놓고 채용을 진행하지는
            않습니다. 계열사 및 모집분야별 지원자 및 선발규모는 유동적이며
            미리부터 각 단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
