<div class="tab-11">
  <h2>11. text</h2>
  <h3>.essential(필수 입력)</h3>

  문의회사
  <span class="essential" data-copy>필수 입력</span>

  <h3>.warning</h3>
  <p class="warning type2" title="경고">
    비밀번호 변경을 완료하셔야 로그인을 하실 수 있습니다.
  </p>
  <h2 class="mT50">12. title</h2>

  <p class="mT20 mB20">1) type1(class="subContent type1") - 기본</p>
  <div class="subContent type1">
    <div class="subContentTop">
      <div>
        <h3>LG디스플레이 미리보기</h3>
      </div>
    </div>
  </div>
  <!-- subContent END -->

  <p class="mT20 mB20">
    2) type1(class="subContent type1") - 기본타이틀 + 설명 글 / 네이게이션
  </p>

  <div class="subContent type1">
    <div class="subContentTop mB40">
      <div>
        <h3>LG디스플레이 미리보기</h3>
        <p class="subTitle2 mT20">
          LG디스플레이에서 미리 알려주는 핵심정보를 확인하세요.
        </p>
      </div>
    </div>
  </div>
  <!-- subContent END -->

  <div class="subContent type1">
    <div class="subContentTop mB40">
      <div>
        <h3>LG디스플레이 미리보기</h3>
        <p class="subTitle2 mT20">
          LG디스플레이에서 미리 알려주는 핵심정보를 확인하세요.
        </p>
      </div>
      <div class="sta">
        <ul>
          <li>
            <a href="#"
              ><img src="/common/images/icon/staHome.png" alt="Home"
            /></a>
          </li>
          <li>Channel</li>
          <li class="staOn">Home</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- subContent END -->

  <p class="mT20 mB20">3) type2(class="subContent type2") - 리스트</p>
  <div class="subContent type2">
    <div class="subContentTop">
      <div>
        <h3>LG디스플레이 미리보기</h3>
      </div>
      <div class="listLineUp">
        <p>총 <span>27</span>건의 채용공고가 있습니다</p>
        <ul>
          <li>
            <a href="#"> 공고 마김일 기준<span class="icon"></span> </a>
            <ul>
              <li><a href="#">리스트 정렬1</a></li>
              <li><a href="#">리스트 정렬2</a></li>
              <li><a href="#">리스트 정렬3</a></li>
            </ul>
          </li>
          <li>
            <a href="#"> 내림차순<span class="icon"></span> </a>
            <ul>
              <li><a href="#">리스트 정렬1</a></li>
              <li><a href="#">리스트 정렬2</a></li>
              <li><a href="#">리스트 정렬3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- subContent END -->

  <p class="mT20 mB20">4) type3(class="subContent type3") - 상세</p>
  <div class="subContent type3">
    <div class="subContentTop">
      <div>
        <h3>
          [BS사업본부] 의료용 (Digital X-ray Detector, 모니터) R&D 전문가
          경력채용
        </h3>
        <p class="likeIco chViewInfo">
          <a href="#">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.8252 0.542636L13.1988 5.57237C13.332 5.86003 13.5902 6.06052 13.8983 6.10411L19.2035 6.91479C19.9614 7.02812 20.2696 8.00443 19.7199 8.57103L15.8805 12.485C15.664 12.7116 15.564 13.0254 15.614 13.3393L16.5218 18.8659C16.655 19.6591 15.8555 20.2606 15.1809 19.8858L10.4421 17.2794C10.1755 17.1312 9.85074 17.1312 9.58423 17.2794L4.84537 19.8858C4.16244 20.2606 3.37124 19.6591 3.50449 18.8659L4.41229 13.3393C4.46226 13.0254 4.36232 12.7029 4.14578 12.485L0.281398 8.56231C-0.268277 8.00442 0.0315458 7.02812 0.797759 6.90608L6.10296 6.09539C6.40278 6.05181 6.66929 5.85132 6.80254 5.56365L9.15948 0.542636C9.50095 -0.180879 10.4837 -0.180879 10.8168 0.542636H10.8252Z"
                fill="#D9DADB"
              />
            </svg> </a
          ><span>D-3</span>2022.06.16 17:00 ~ 2022.06.27 17:00
        </p>
      </div>
      <ul class="share">
        <li>
          <a href="#"><img src="/common/images/icon/share.png" alt="공유" /></a>
          <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- subContent END -->
</div>
