<div class="tab-6">
  <h2>06. Bullet</h2>
  <div>
    <h6 class="mB10">1) Dot Bullet class="bu"</h6>
    <ul class="bu" data-copy>
      <li>내용내용내용내용내용</li>
      <li>내용내용내용내용내용</li>
      <li>내용내용내용내용내용</li>
      <li>
        내용내용내용내용내용
        <ul>
          <li>내용내용내용내용내용</li>
          <li>내용내용내용내용내용</li>
          <li>내용내용내용내용내용</li>
          <li>내용내용내용내용내용</li>
        </ul>
      </li>
    </ul>
    <h6 class="mB10 mT10">2) Hyphen Bullet class="bu type2"</h6>
    <ul class="bu type2" data-copy>
      <li>내용내용내용내용내용</li>
      <li>내용내용내용내용내용</li>
      <li>내용내용내용내용내용</li>
      <li>내용내용내용내용내용</li>
    </ul>
    <h6 class="mB10 mT10">3) Number Bullet class="bu type3"</h6>
    <ol class="bu type3" data-copy>
      <li>내용내용내용내용내용</li>
      <li>내용내용내용내용내용</li>
      <li>내용내용내용내용내용</li>
      <li>내용내용내용내용내용</li>
    </ol>
  </div>
</div>
