<div class="tab-3">
  <h2>03. Form</h2>
  <div>
    <h6 class="mB10">1) 체크박스 class="input"</h6>
    <div class="mB10">
      <span class="input" data-copy>
        <input type="checkbox" id="chk1" value="" checked />
        <label for="chk1">체크박스</label>
      </span>
      <span class="input" data-copy>
        <input type="checkbox" id="chk2" value="" />
        <label for="chk2">체크박스</label>
      </span>
      <span class="input" data-copy>
        <input type="checkbox" id="chk2" value="" disabled />
        <label for="chk2">체크박스</label>
      </span>
    </div>
    <h6 class="mB10">2) 라디오버튼 class="input"</h6>
    <div class="mB10">
      <span class="input" data-copy>
        <input type="radio" id="rd1" name="radio" value="" checked />
        <label for="rd1">라디오버튼</label>
      </span>
      <span class="input" data-copy>
        <input type="radio" id="rd2" name="radio" value="" />
        <label for="rd2">라디오버튼</label>
      </span>
      <span class="input" data-copy>
        <input type="radio" id="rd3" name="radio" value="" disabled />
        <label for="rd3">라디오버튼</label>
      </span>
    </div>
    <h6 class="mB10">3) select class="input"</h6>
    <div>
      <span class="input" data-copy>
        <select title="셀렉트 이름">
          <option value="">--선택--</option>
          <option value="">선택1</option>
          <option value="">선택2</option>
          <option value="">선택3</option>
          <option value="">선택4</option>
          <option value="">선택5</option>
          <option value="">선택6</option>
        </select>
      </span>
    </div>
  </div>
</div>
