<div class="tab-9">
  <h2>09. Accordion</h2>
  <div>
    <ul class="guideAcc">
      <li class="accItem" data-num="1">
        <div class="q">
          <button class="qBtn">
            <div class="qOrder">Q</div>
            <div class="accTitle">채용절차</div>
            <div class="accQuery">1. 각 채용 전형 단계별 며 배수를 뽑나요?</div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            <div class="aOrder">a</div>
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="2">
        <div class="q">
          <button class="qBtn">
            <div class="qOrder">Q</div>
            <div class="accTitle">채용절차</div>
            <div class="accQuery">2. 각 채용 전형 단계별 며 배수를 뽑나요?</div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            <div class="aOrder">a</div>
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="3">
        <div class="q">
          <button class="qBtn">
            <div class="qOrder">Q</div>
            <div class="accTitle">채용절차</div>
            <div class="accQuery">3. 각 채용 전형 단계별 며 배수를 뽑나요?</div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            <div class="aOrder">a</div>
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
      <li class="accItem" data-num="4">
        <div class="q">
          <button class="qBtn">
            <div class="accTitle">채용절차</div>
            <div class="accQuery">4. 각 채용 전형 단계별 며 배수를 뽑나요?</div>
          </button>
        </div>
        <div class="a">
          <div class="accCon">
            계열사 및 모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각
            단계별 배수를 정해놓고 채용을 진행하지는 않습니다. 계열사 및
            모집분야별 지원자 및 선발규모는 유동적이며 미리부터 각 단계별 배수를
            정해놓고 채용을 진행하지는 않습니다. 계열사 및 모집분야별 지원자 및
            선발규모는 유동적이며 미리부터 각 단계별 배수를 정해놓고 채용을
            진행하지는 않습니다. 계열사 및 모집분야별 지원자 및 선발규모는
            유동적이며 미리부터 각 단계별 배수를 정해놓고 채용을 진행하지는
            않습니다. 계열사 및 모집분야별 지원자 및 선발규모는 유동적이며
            미리부터 각 단계별 배수를 정해놓고 채용을 진행하지는 않습니다.
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>