<div class="tab-5">
  <h2>05. Table</h2>
  <div>
    <h6 class="mB10">1) 테이블 col class="table"</h6>
    <div class="table">
      <table>
        <caption>
          테이블(th,th,th,th)
        </caption>
        <colgroup>
          <col span="4" style="width: 25%" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">title</th>
            <th scope="col">title</th>
            <th scope="col">title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
          </tr>
          <tr>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
          </tr>
          <tr>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h6 class="mB10 mT10">2) 테이블 row class="table type2"</h6>
    <div class="table type2">
      <table>
        <caption>
          테이블(th,th,th,th)
        </caption>
        <colgroup>
          <col style="width: 25%" />
          <col style="width: auto" />
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">title</th>
            <td>내용내용내용내용</td>
          </tr>
          <tr>
            <th scope="row">title</th>
            <td>내용내용내용내용</td>
          </tr>
          <tr>
            <th scope="row">title</th>
            <td>내용내용내용내용</td>
          </tr>
          <tr>
            <th scope="row">title</th>
            <td>내용내용내용내용</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h6 class="mB10 mT10">3) 테이블 class="table type2"</h6>
    <div class="table type2">
      <table>
        <caption>
          테이블(th,th,th,th)
        </caption>
        <colgroup>
          <col style="width: 25%" span="4" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">title</th>
            <th scope="col">title</th>
            <th scope="col">title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">title</th>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
          </tr>
          <tr>
            <th scope="row">title</th>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
          </tr>
          <tr>
            <th scope="row">title</th>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
          </tr>
          <tr>
            <th scope="row">title</th>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
            <td>내용내용내용내용</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
