<div class="tab-2">
  <h2>02. Button</h2>
  <div>
    <h6 class="mB10">1) 라인버튼(class="btn")</h6>
    <p class="mB10">작은버튼 small 큰버튼 large 제일큰버튼 xlarge</p>
    <a href="#" class="btn small" data-copy>라인버튼</a>
    <a href="#" class="btn" data-copy>라인버튼</a>
    <a href="#" class="btn large" data-copy>라인버튼</a>
    <a href="#" class="btn xlarge" data-copy>라인버튼</a>

    <h6 class="mB10 mT10">1-1) 라인버튼 min-width:150(class="btn minW")</h6>
    <a href="#" class="btn minW" data-copy>라인버튼</a>

    <h6 class="mT10 mB10">2) 채운버튼(class="btn type2")</h6>
    <a href="#" class="btn type2 small" data-copy>라인버튼</a>
    <a href="#" class="btn type2" data-copy>라인버튼</a>
    <a href="#" class="btn type2 large" data-copy>라인버튼</a>

    <h6 class="mB10 mT10">2-1) complete버튼 (class="btn minW type2 icoImg")</h6>
    <a href="#" class="btn minW type2 icoImg" data-copy
      ><span><img src="/common/images/icon/chkIco.png" alt="" /></span
      >인증완료</a
    >

    <h6 class="mT10 mB10">3) 비활성버튼(class="btn disabl")</h6>
    <a href="#" class="btn disabl small" data-copy>라인버튼</a>
    <a href="#" class="btn disabl" data-copy>라인버튼</a>
    <a href="#" class="btn disabl large" data-copy>라인버튼</a>

    <h6 class="mT10 mB10">4) 라운드버튼(class="btn type2 round")</h6>
    <a href="#" class="btn type2 round smasmallil" data-copy>라운드버튼</a>
    <a href="#" class="btn type2 round" data-copy>라운드버튼</a>
    <a href="#" class="btn type2 round xlarge" data-copy>라운드버튼</a>

    <h6 class="mT10 mB10">5) 더보기 버튼(class="btn more round")</h6>
    <a href="#" class="btn more round small" data-copy>더보기</a>
    <a href="#" class="btn more round" data-copy>더보기</a>
    <a href="#" class="btn more round large" data-copy>더보기</a>
    <a href="#" class="btn more type2" data-copy
      ><span>자세히 보기</span
      ><i
        ><svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="7" width="1" height="16" rx="0.5" fill="#6B6B6B" />
          <rect
            x="8"
            y="7"
            width="1"
            height="8"
            rx="0.5"
            transform="rotate(90 8 7)"
            fill="#6B6B6B"
          />
          <rect
            x="16"
            y="7"
            width="1"
            height="6"
            rx="0.5"
            transform="rotate(90 16 7)"
            fill="#6B6B6B"
          />
        </svg> </i
    ></a>

    <h6 class="mT10 mB10">6) 버튼 두개(회원가입, 로그인쪽 사용)</h6>
    <div class="tCenter" data-copy>
      <a href="#" class="btn type6 round large">동의하지 않음</a>
      <a href="#" class="btn type5 round large">동의</a>
    </div>

    <div class="tCenter" data-copy>
      <a href="#" class="btn type6 round large">동의하지 않음</a>
      <a href="#" class="btn type3 round large">동의</a>
    </div>
  </div>
</div>
