@import "_variables", "_mixin";

body,
html {
  position: relative;
  height: 100%;
}

.mainPage01 {
  width: 100%;
  height: 100%;
  padding-top: 8rem;
}

.mainPage02 {
  width: 100%;
  height: 100%;
}

.mainPage03 {
  width: 100%;
  height: 100%;
}

.mainPage04 {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.mainNav {
  position: fixed;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}

//main container 공통
.page {
  width: 100%;
  height: 100vh;
  // font-size: 0;
  // line-height: 0;
}
.wrap {
  position: relative;
  width: 94.5rem;
  margin: 0 auto;
}

//main container
.page1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url(/assets/images/main/visual.jpg) no-repeat center center;
  background-size: cover;
  .page1Bg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .wrap {
    z-index: 10;
    text-align: center;
    h2 {
      color: #fff;
      font-weight: 600;
      font-size: 6.8rem;
      line-height: 7.6rem;

      span {
        display: block;
      }
    }
  }
  .form {
    position: relative;
    .formList {
      display: inline-flex;
      width: calc(100% - 200px);
      gap: 20px;
      li {
        display: block;
        width: 30%;
      }
    }
    .select {
      position: relative;
      height: 40px;
      font-size: 2.2rem;
      .selectBtn {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        border-bottom: 2px solid #fff;
        background: transparent;
        color: #fff;
        text-align: left;
      }
      .selectList {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        button {
          display: block;
          width: 100%;
          border: 0;
          background-color: transparent;
          color: #fff;
          padding: 10px;
        }
      }
      &.active {
        .selectList {
          display: block;
        }
      }
    }
    .search {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      background-color: $BrandColorRed;
      font-size: 0;
      line-height: 0;
      &:before {
        display: inline-block;
      }
    }
  }
  @keyframes scrollAni {
    0% {
      top: 7px;
    }
    100% {
      top: 15px;
      opacity: 0;
    }
  }
  .scroll {
    position: absolute;
    left: calc(50% - 50px);
    bottom: 50px;
    width: 100px;
    height: 100px;
    padding-top: 60px;
    color: #fff;
    text-align: center;
    i {
      display: block;
      position: absolute;
      left: calc(50% - 12px);
      bottom: 50px;
      width: 23px;
      height: 34px;
      border-radius: 23px;
      border: 2px solid #fff;
      &:before {
        display: block;
        position: absolute;
        top: 7px;
        left: calc(50% - 1px);
        width: 2px;
        height: 10px;
        background: #fff;
        border-radius: 5px;
        animation: scrollAni 1s infinite;
      }
    }
  }
}
.titleWrap {
  h2 {
    font-weight: 600;
    font-size: 6.6rem;
    line-height: 1;
  }
  p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
  }
}
.page2 {
  background-color: #f5f5f5;
  .titleWrap {
    position: relative;
    margin-bottom: 50px;
    .more {
      display: inline-block;
      vertical-align: top;
      color: #666;
      font-size: 1.5rem;
      line-height: 1;
      &:after {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 6px;
        background: url(./) #444 no-repeat center center;
        background-size: contain;
        vertical-align: top;
      }
    }
    .hash {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      position: absolute;
      right: 0;
      top: 0;
      width: 400px;
      .hashBtn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 41px;
        margin: 5px 0 5px 10px;
        padding: 0 14px;
        border: 1px solid #d9dadb;
        border-radius: 20px;
        background-color: #fff;
        color: #d9dadb;
        font-size: 1.7rem;
        color: #aeaeae;
        line-height: 1;
        transition: all 0.2s;
        &.active,
        &:hover,
        &:focus {
          background-color: $BrandColorRed;
          color: #fff;
          border-color: $BrandColorRed;
        }
      }
    }
  }
  .conWrap {
    height: calc(100vh - 158px);
    overflow-y: auto;
  }
  .storyList {
    display: block;
    column-width: 240px;
    column-gap: 15px;
    .storyItem {
      display: inline-block;
      position: relative;

      .storyAnchor {
        display: block;
        width: 100%;
        height: 100%;
      }
      .storyImg {
        width: inherit;
        border-radius: 20px;
        img {
          overflow: hidden;
        }
      }
      .storyCon {
        width: inherit;
        h3.tag {
        }
        p {
        }
      }
    }
  }
}

.mainNav {
  position: fixed;
  top: 10rem;
  left: 5rem;
}
