.componentWrap .tabs {
  position: fixed;
  left: 0;
  width: 20rem;
  padding: 4rem 3rem 3rem;
}

.componentWrap .tabs li {
  margin-bottom: 2rem;
}

.componentWrap .tabs li a {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -0.04rem;
}

.componentWrap .tabs .current {
  border-right: 0.2rem solid #B70F28;
}

.componentWrap .tabs .current a {
  color: #B70F28;
}

.componentWrap .tab-content {
  display: none;
  position: absolute;
  left: 20rem;
  padding: 3rem 0;
  width: calc(100% - 23rem);
}

.componentWrap .tab-content.current {
  display: block;
}

.componentWrap .tab-content > h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #222;
  letter-spacing: -0.04rem;
  border-bottom: 0.3rem solid #f3f3f3;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.componentWrap .tab-content .tabContent1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2.5rem;
}

.componentWrap .tab-content .tabContent1 ul:nth-child(odd) {
  background-color: #f5f5f5;
}

.componentWrap .tab-content .tabContent1 ul li:first-child {
  width: 45rem;
}

.componentWrap .tab-content .tabContent1 ul li:first-child p {
  font-size: 1.6rem;
  letter-spacing: -0.04rem;
  color: #555;
}

.componentWrap .tab-content .tabContent1 ul li:first-child span {
  font-size: 1.1rem;
  color: #c0c0c0;
}

.mT10 {
  margin-top: 1rem;
}

.mB10 {
  margin-bottom: 1rem;
}

.tCenter {
  text-align: center !important;
}

.tLeft {
  text-align: left !important;
}

.tRight {
  text-align: right !important;
}

h1.title1 {
  font-size: 2.4rem;
  letter-spacing: -.04rem;
  line-height: 3rem;
  font-weight: 400;
}

h2.title2 {
  font-size: 2.2rem;
  letter-spacing: -.04rem;
  line-height: 2.6rem;
}

h3.title3 {
  font-size: 2rem;
  letter-spacing: -.04rem;
  line-height: 2.4rem;
}

.subTitle1 {
  font-size: 1.8rem;
  letter-spacing: -.04rem;
  line-height: 2.2rem;
}

.subTitle2 {
  font-size: 1.6rem;
  letter-spacing: -.04rem;
  line-height: 2rem;
}

.subText1 {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
}

.btnType1 {
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #555;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}

.btnType1:hover {
  background-color: #222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.inputType1 label {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
}

.inputType1 input {
  border: 0.1rem solid #ccc;
  font-size: 1.6rem;
  padding: 1.4rem;
}

.textBox1 label {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
}

.textBox1 textarea {
  border: 0.1rem solid #ccc;
  font-size: 1.6rem;
  padding: 1.4rem;
  min-height: 15rem;
}

.tableCol table {
  width: 100%;
  border-top: 0.1rem solid #222;
}

.tableCol table thead tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  text-align: center;
  padding: 1.2rem 1.5rem;
}

.tableCol table thead tr th:last-child {
  border-right: 0;
}

.tableCol table tbody tr td {
  font-size: 1.4rem;
  color: #555;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}

.tableCol table tbody tr td:last-child {
  border-right: 0;
}

.tableRow table {
  width: 100%;
  border-top: 0.1rem solid #222;
}

.tableRow table thead tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  text-align: center;
  padding: 1.2rem 1.5rem;
}

.tableRow table thead tr th:last-child {
  border-right: 0;
}

.tableRow table tbody tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}

.tableRow table tbody tr td {
  font-size: 1.4rem;
  color: #555;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}

.tableRow table tbody tr td:last-child {
  border-right: 0;
}

.typeDot > li {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 0.8rem;
}

.typeDot > li::before {
  content: " ";
  width: 0.2rem;
  height: 0.2rem;
  background-color: #222;
  position: absolute;
  left: 0;
  top: 0.9rem;
}

.typeDot > li:last-child {
  margin-bottom: 0;
}

.typeHy > li {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

.typeHy > li::before {
  content: "- ";
}

.typeHy > li:last-child {
  margin-bottom: 0;
}

.typeNum {
  list-style: auto;
  padding-left: 1.45rem;
}

.typeNum li {
  list-style: inherit;
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

.paging ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paging ul li {
  margin: 0 0.2rem;
}

.paging .paging_num {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.paging .paging_num a {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
}

.paging .paging_num.paging_num_on {
  border: 1px solid #eb6565 !important;
}

.paging .paging_num.paging_num_on a {
  color: #eb6565 !important;
}
