@charset "UTF-8";
.fileListWrap {
  width: 120rem;
  margin: 3rem auto;
}

.fileListWrap table {
  margin-top: 2rem;
  width: 100%;
  border: 0.1rem solid #999;
}

.fileListWrap table thead tr th {
  background-color: #f1f1f1;
  border-bottom: 0.1rem solid #999;
  font-size: 1.4rem;
  color: #222;
  text-align: center;
  padding: 0.8rem 1.5rem;
}

.fileListWrap table tbody tr td {
  border-bottom: 0.1rem solid #999;
  font-size: 1.3rem;
  color: #555;
  padding: 1rem 1.2rem;
}

.fileListWrap table tbody tr td label {
  background-color: #6b6b6b;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.3rem 0.8rem 0.4rem;
  border-radius: 0.5rem;
  cursor: default;
}

.fileListWrap table tbody tr td a {
  font-weight: bold;
}

.fileListWrap table tbody tr td a:hover {
  color: #a50034;
}

.componentWrap .tabs {
  position: fixed;
  left: 0;
  width: 20rem;
  padding: 4rem 3rem 3rem;
}

.componentWrap .tabs li {
  margin-bottom: 2rem;
}

.componentWrap .tabs li a {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -0.04rem;
}

.componentWrap .tabs .current {
  border-right: 0.2rem solid #b70f28;
}

.componentWrap .tabs .current a {
  color: #b70f28;
}

.componentWrap .tab-content {
  display: none;
  position: absolute;
  left: 20rem;
  padding: 3rem 0;
  width: calc(100% - 23rem);
}

.componentWrap .tab-content.current {
  display: block;
}

.componentWrap .tab-content > h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #222;
  letter-spacing: -0.04rem;
  border-bottom: 0.3rem solid #f3f3f3;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.componentWrap .tab-content .tabContent1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2.5rem;
}

.componentWrap .tab-content .tabContent1 ul:nth-child(odd) {
  background-color: #f5f5f5;
}

.componentWrap .tab-content .tabContent1 ul li:first-child {
  width: 45rem;
}

.componentWrap .tab-content .tabContent1 ul li:first-child p {
  font-size: 1.6rem;
  letter-spacing: -0.04rem;
  color: #555;
}

.componentWrap .tab-content .tabContent1 ul li:first-child span {
  font-size: 1.1rem;
  color: #c0c0c0;
}

.mT10 {
  margin-top: 1rem;
}

.mT5 {
  margin-top: 0.5rem;
}

.mB5 {
  margin-bottom: 0.5rem;
}

.mL5 {
  margin-left: 0.5rem;
}

.mR5 {
  margin-right: 0.5rem;
}

.p5 {
  margin: 0.5rem;
}

.pT5 {
  padding-top: 0.5rem;
}

.pB5 {
  padding-bottom: 0.5rem;
}

.pL5 {
  padding-left: 0.5rem;
}

.pR5 {
  padding-right: 0.5rem;
}

.p5 {
  padding: 0.5rem;
}

.mT10 {
  margin-top: 1rem;
}

.mB10 {
  margin-bottom: 1rem;
}

.mL10 {
  margin-left: 1rem;
}

.mR10 {
  margin-right: 1rem;
}

.p10 {
  margin: 1rem;
}

.pT10 {
  padding-top: 1rem;
}

.pB10 {
  padding-bottom: 1rem;
}

.pL10 {
  padding-left: 1rem;
}

.pR10 {
  padding-right: 1rem;
}

.p10 {
  padding: 1rem;
}

.mT15 {
  margin-top: 1.5rem;
}

.mB15 {
  margin-bottom: 1.5rem;
}

.mL15 {
  margin-left: 1.5rem;
}

.mR15 {
  margin-right: 1.5rem;
}

.p15 {
  margin: 1.5rem;
}

.pT15 {
  padding-top: 1.5rem;
}

.pB15 {
  padding-bottom: 1.5rem;
}

.pL15 {
  padding-left: 1.5rem;
}

.pR15 {
  padding-right: 1.5rem;
}

.p15 {
  padding: 1.5rem;
}

.mT20 {
  margin-top: 2rem;
}

.mB20 {
  margin-bottom: 2rem;
}

.mL20 {
  margin-left: 2rem;
}

.mR20 {
  margin-right: 2rem;
}

.p20 {
  margin: 2rem;
}

.pT20 {
  padding-top: 2rem;
}

.pB20 {
  padding-bottom: 2rem;
}

.pL20 {
  padding-left: 2rem;
}

.pR20 {
  padding-right: 2rem;
}

.p20 {
  padding: 2rem;
}

.mT25 {
  margin-top: 2.5rem;
}

.mB25 {
  margin-bottom: 2.5rem;
}

.mL25 {
  margin-left: 2.5rem;
}

.mR25 {
  margin-right: 2.5rem;
}

.p25 {
  margin: 2.5rem;
}

.pT25 {
  padding-top: 2.5rem;
}

.pB25 {
  padding-bottom: 2.5rem;
}

.pL25 {
  padding-left: 2.5rem;
}

.pR25 {
  padding-right: 2.5rem;
}

.p25 {
  padding: 2.5rem;
}

.mT30 {
  margin-top: 3rem;
}

.mB30 {
  margin-bottom: 3rem;
}

.mL30 {
  margin-left: 3rem;
}

.mR30 {
  margin-right: 3rem;
}

.p30 {
  margin: 3rem;
}

.pT30 {
  padding-top: 3rem;
}

.pB30 {
  padding-bottom: 3rem;
}

.pL30 {
  padding-left: 3rem;
}

.pR30 {
  padding-right: 3rem;
}

.p30 {
  padding: 3rem;
}

.mT35 {
  margin-top: 3.5rem;
}

.mB35 {
  margin-bottom: 3.5rem;
}

.mL35 {
  margin-left: 3.5rem;
}

.mR35 {
  margin-right: 3.5rem;
}

.p35 {
  margin: 3.5rem;
}

.pT35 {
  padding-top: 3.5rem;
}

.pB35 {
  padding-bottom: 3.5rem;
}

.pL35 {
  padding-left: 3.5rem;
}

.pR35 {
  padding-right: 3.5rem;
}

.p35 {
  padding: 3.5rem;
}

.mT40 {
  margin-top: 4rem;
}

.mB40 {
  margin-bottom: 4rem;
}

.mL40 {
  margin-left: 4rem;
}

.mR40 {
  margin-right: 4rem;
}

.p40 {
  margin: 4rem;
}

.pT40 {
  padding-top: 4rem;
}

.pB40 {
  padding-bottom: 4rem;
}

.pL40 {
  padding-left: 4rem;
}

.pR40 {
  padding-right: 4rem;
}

.p40 {
  padding: 4rem;
}

.mT45 {
  margin-top: 4.5rem;
}

.mB45 {
  margin-bottom: 4.5rem;
}

.mL45 {
  margin-left: 4.5rem;
}

.mR45 {
  margin-right: 4.5rem;
}

.p45 {
  margin: 4.5rem;
}

.pT45 {
  padding-top: 4.5rem;
}

.pB45 {
  padding-bottom: 4.5rem;
}

.pL45 {
  padding-left: 4.5rem;
}

.pR45 {
  padding-right: 4.5rem;
}

.p45 {
  padding: 4.5rem;
}

.mT50 {
  margin-top: 5rem;
}

.mB50 {
  margin-bottom: 5rem;
}

.mL50 {
  margin-left: 5rem;
}

.mR50 {
  margin-right: 5rem;
}

.p50 {
  margin: 5rem;
}

.pT50 {
  padding-top: 5rem;
}

.pB50 {
  padding-bottom: 5rem;
}

.pL50 {
  padding-left: 5rem;
}

.pR50 {
  padding-right: 5rem;
}

.p50 {
  padding: 5rem;
}

.tCenter {
  text-align: center !important;
}

.tLeft {
  text-align: left !important;
}

.tRight {
  text-align: right !important;
}

h3 {
  font-size: 2.4rem;
  letter-spacing: -.04rem;
  line-height: 3rem;
  font-weight: 400;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -.04rem;
  line-height: 2.6rem;
}

h5 {
  font-size: 2rem;
  letter-spacing: -.04rem;
  line-height: 2.4rem;
}

h6 {
  font-size: 1.8rem;
  letter-spacing: -.04rem;
  line-height: 2.2rem;
}

.subTitle2 {
  font-size: 1.6rem;
  letter-spacing: -.04rem;
  line-height: 2rem;
}

p {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  color: #000000;
  border: 0.1rem solid #555;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  vertical-align: middle;
  min-width: 10rem;
  height: auto;
}

.btn:hover {
  border: 0.1rem solid #555;
  color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn.smail {
  font-size: 1.4rem;
  padding: 0.6rem 1rem;
}

.btn.large {
  font-size: 1.8rem;
  padding: 1rem 2rem;
}

.btn.type2 {
  background-color: #a50034;
  color: #ffffff;
  font-weight: 600;
  border: 0.1rem solid #a50034;
}

.btn.type2:hover {
  background-color: #a50034;
  color: #ffffff;
  font-weight: 600;
  border: 0.1rem solid #a50034;
}

.btn.disabl {
  border: 0.1rem solid #999;
  color: #999;
  cursor: default;
}

.btn.round {
  height: 5.6rem;
  line-height: 5.6rem;
  border-radius: 2.8rem;
  padding: 0 1.2rem;
}

.btn + .btn {
  margin-left: 1rem;
}

.input {
  display: inline-block;
  position: relative;
  margin: 0.2rem;
  vertical-align: top;
}

.input input[type="checkbox"] {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  border: 0;
  opacity: 0;
}

.input input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 3rem;
  padding-right: 1rem;
  line-height: 2.2rem;
  vertical-align: top;
}

.input input[type="checkbox"] + label::before {
  display: block;
  position: absolute;
  content: " ";
  top: 0.1rem;
  left: 0;
  width: 2.1rem;
  height: 2.1rem;
  background-color: #fff;
  border: 0.2rem solid #6b6b6b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input input[type="checkbox"]:checked + label:after {
  display: block;
  position: absolute;
  content: " ";
  width: 0.7rem;
  height: 1rem;
  border: 0.1rem solid #000;
  border-left: 0;
  border-top: 0;
  left: 0.65rem;
  top: 0.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.input input[type="checkbox"]:disabled + label {
  color: #999;
}

.input input[type="checkbox"]:disabled + label::before {
  background-color: #ccc;
  border-color: #ccc;
}

.input input[type="radio"] {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  border: 0;
  opacity: 0;
}

.input input[type="radio"] + label {
  position: relative;
  display: inline-block;
  padding-left: 3rem;
  padding-right: 1rem;
  line-height: 2.2rem;
  vertical-align: top;
}

.input input[type="radio"] + label::before {
  display: block;
  position: absolute;
  content: " ";
  top: 0.1rem;
  left: 0;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background-color: #fff;
  border: 0.2rem solid #6b6b6b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input input[type="radio"]:checked + label:after {
  display: block;
  position: absolute;
  content: "â—";
  color: #6b6b6b;
  font-size: 1.4rem;
  left: 0;
  top: 0;
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.input input[type="radio"]:disabled + label {
  color: #999;
}

.input input[type="radio"]:disabled + label::before {
  background-color: #ccc;
  border-color: #ccc;
}

.input select {
  width: 18rem;
  height: 4rem;
  padding: 0.8rem 3.5rem 0.8rem 1rem;
  border: 0.1rem solid #6b6b6b;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #6b6b6b;
}

.inputBox label {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
}

.inputBox input {
  border: 0.1rem solid #ccc;
  font-size: 1.4rem;
  padding: 1.5rem;
  color: #6b6b6b;
}

.inputBox.type2 input {
  border: 0;
  height: 100%;
}

.inputBox label {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
}

.inputBox textarea {
  border: 0.1rem solid #ccc;
  font-size: 1.6rem;
  padding: 1.4rem;
  min-height: 15rem;
}

.tabel table {
  width: 100%;
  border-top: 0.1rem solid #222;
}

.tabel table thead tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  text-align: center;
  padding: 1.2rem 1.5rem;
}

.tabel table thead tr th:last-child {
  border-right: 0;
}

.tabel table tbody tr td {
  font-size: 1.4rem;
  color: #555;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}

.tabel table tbody tr td:last-child {
  border-right: 0;
}

.tabel.type2 table thead tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  text-align: center;
  padding: 1.2rem 1.5rem;
}

.tabel.type2 table thead tr th:last-child {
  border-right: 0;
}

.tabel.type2 table tbody tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}

.tabel.type2 table tbody tr td {
  font-size: 1.4rem;
  color: #555;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}

.tabel.type2 table tbody tr td:last-child {
  border-right: 0;
}

.bu > li {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 0.8rem;
}

.bu > li::before {
  display: block;
  content: " ";
  width: 0.2rem;
  height: 0.2rem;
  background-color: #222;
  position: absolute;
  left: 0;
  top: 0.9rem;
}

.bu > li:last-child {
  margin-bottom: 0;
}

.bu > li > ul {
  margin-top: 0.5rem;
}

.bu > li > ul > li {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 0.8rem;
}

.bu > li > ul > li::before {
  display: block;
  content: " ";
  width: 0.5rem;
  height: 0.1rem;
  background-color: #6b6b6b;
  left: 0;
  top: 0.8rem;
  position: absolute;
}

.bu > li > ul > li:last-child {
  margin-bottom: 0;
}

.bu.type2 > li {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

.bu.type2 > li::before {
  content: " ";
  width: 0.5rem;
  height: 0.1rem;
  background-color: #6b6b6b;
  left: 0;
  top: 0.8rem;
  position: absolute;
}

.bu.type2 > li:last-child {
  margin-bottom: 0;
}

.bu.type3 {
  list-style: auto;
  padding-left: 1.45rem;
}

.bu.type3 li {
  list-style: inherit;
  font-size: 1.4rem;
  letter-spacing: -.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  padding-left: 0;
}

.bu.type3 li::before {
  width: 0;
  height: 0;
}

.paging ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paging ul li {
  margin: 0 0.2rem;
}

.paging .paging_num {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.paging .paging_num a {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
}

.paging .paging_num.paging_num_on {
  border: 1px solid #eb6565 !important;
}

.paging .paging_num.paging_num_on a {
  color: #eb6565 !important;
}

.guideAcc .accItem + .accItem {
  margin-top: 10px;
}

.guideAcc .q .qBtn {
  display: block;
  width: 100%;
  padding: 20px 10px;
  text-align: left;
  font-size: 0;
  line-height: 0;
}

.guideAcc .q .qBtn .accTitle {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  vertical-align: top;
}

.guideAcc .q .qBtn .accTitle:before {
  display: inline-block;
  content: "Q";
  font-size: 20px;
  line-height: 1;
  margin-right: 10px;
  vertical-align: top;
}

.guideAcc .q .qBtn .accQuery {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  line-height: 1.5;
}

.guideAcc .a {
  display: none;
  position: relative;
  padding: 10px;
}

.guideAcc .a .accCon {
  position: relative;
  padding-left: 30px;
  font-size: 1.6rem;
}

.guideAcc .a .accCon:before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  content: "A";
  color: #a50034;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  vertical-align: top;
}
