.fileListWrap {
  width: 120rem;
  margin: 3rem auto;
}
.fileListWrap table {
  margin-top: 2rem;
  width: 100%;
  border: 0.1rem solid #999;
}
.fileListWrap table thead tr th {
  background-color: #f1f1f1;
  border-bottom: 0.1rem solid #999;
  font-size: 1.4rem;
  color: #222;
  text-align: center;
  padding: 0.8rem 1.5rem;
}
.fileListWrap table tbody tr td {
  border-bottom: 0.1rem solid #999;
  font-size: 1.3rem;
  color: #555;
  padding: 1rem 1.2rem;
}
.fileListWrap table tbody tr td label {
  background-color: #6b6b6b;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.3rem 0.8rem 0.4rem;
  border-radius: 0.5rem;
  cursor: default;
}
.fileListWrap table tbody tr td a {
  font-weight: bold;
}
.fileListWrap table tbody tr td a:hover {
  color: #a50034;
}

.componentWrap .tabs {
  position: fixed;
  left: 0;
  width: 20rem;
  padding: 4rem 3rem 3rem;
}
.componentWrap .tabs li {
  margin-bottom: 2rem;
}
.componentWrap .tabs li a {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -0.04rem;
}
.componentWrap .tabs .current {
  border-right: 0.2rem solid #b70f28;
}
.componentWrap .tabs .current a {
  color: #b70f28;
}
.componentWrap .tab-content {
  display: none;
  position: absolute;
  left: 20rem;
  padding: 3rem 0;
  width: calc(100% - 23rem);
}
.componentWrap .tab-content.current {
  display: block;
}
.componentWrap .tab-content > h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #222;
  letter-spacing: -0.04rem;
  border-bottom: 0.3rem solid #f3f3f3;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
.componentWrap .tab-content .tabContent1 ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2.5rem;
}
.componentWrap .tab-content .tabContent1 ul:nth-child(odd) {
  background-color: #f5f5f5;
}
.componentWrap .tab-content .tabContent1 ul li:first-child {
  width: 45rem;
}
.componentWrap .tab-content .tabContent1 ul li:first-child p {
  font-size: 1.6rem;
  letter-spacing: -0.04rem;
  color: #555;
}
.componentWrap .tab-content .tabContent1 ul li:first-child span {
  font-size: 1.1rem;
  color: #c0c0c0;
}

.mT10 {
  margin-top: 1rem;
}

.mT5 {
  margin-top: 0.5rem;
}

.mB5 {
  margin-bottom: 0.5rem;
}

.mL5 {
  margin-left: 0.5 rem;
}

.mR5 {
  margin-right: 0.5 rem;
}

.p5 {
  margin: 0.5 rem;
}

.pT5 {
  padding-top: 0.5 rem;
}

.pB5 {
  padding-bottom: 0.5 rem;
}

.pL5 {
  padding-left: 0.5 rem;
}

.pR5 {
  padding-right: 0.5 rem;
}

.p5 {
  padding: 0.5 rem;
}

.mT10 {
  margin-top: 1rem;
}

.mB10 {
  margin-bottom: 1rem;
}

.mL10 {
  margin-left: 1 rem;
}

.mR10 {
  margin-right: 1 rem;
}

.p10 {
  margin: 1 rem;
}

.pT10 {
  padding-top: 1 rem;
}

.pB10 {
  padding-bottom: 1 rem;
}

.pL10 {
  padding-left: 1 rem;
}

.pR10 {
  padding-right: 1 rem;
}

.p10 {
  padding: 1 rem;
}

.mT15 {
  margin-top: 1.5rem;
}

.mB15 {
  margin-bottom: 1.5rem;
}

.mL15 {
  margin-left: 1.5 rem;
}

.mR15 {
  margin-right: 1.5 rem;
}

.p15 {
  margin: 1.5 rem;
}

.pT15 {
  padding-top: 1.5 rem;
}

.pB15 {
  padding-bottom: 1.5 rem;
}

.pL15 {
  padding-left: 1.5 rem;
}

.pR15 {
  padding-right: 1.5 rem;
}

.p15 {
  padding: 1.5 rem;
}

.mT20 {
  margin-top: 2rem;
}

.mB20 {
  margin-bottom: 2rem;
}

.mL20 {
  margin-left: 2 rem;
}

.mR20 {
  margin-right: 2 rem;
}

.p20 {
  margin: 2 rem;
}

.pT20 {
  padding-top: 2 rem;
}

.pB20 {
  padding-bottom: 2 rem;
}

.pL20 {
  padding-left: 2 rem;
}

.pR20 {
  padding-right: 2 rem;
}

.p20 {
  padding: 2 rem;
}

.mT25 {
  margin-top: 2.5rem;
}

.mB25 {
  margin-bottom: 2.5rem;
}

.mL25 {
  margin-left: 2.5 rem;
}

.mR25 {
  margin-right: 2.5 rem;
}

.p25 {
  margin: 2.5 rem;
}

.pT25 {
  padding-top: 2.5 rem;
}

.pB25 {
  padding-bottom: 2.5 rem;
}

.pL25 {
  padding-left: 2.5 rem;
}

.pR25 {
  padding-right: 2.5 rem;
}

.p25 {
  padding: 2.5 rem;
}

.mT30 {
  margin-top: 3rem;
}

.mB30 {
  margin-bottom: 3rem;
}

.mL30 {
  margin-left: 3 rem;
}

.mR30 {
  margin-right: 3 rem;
}

.p30 {
  margin: 3 rem;
}

.pT30 {
  padding-top: 3 rem;
}

.pB30 {
  padding-bottom: 3 rem;
}

.pL30 {
  padding-left: 3 rem;
}

.pR30 {
  padding-right: 3 rem;
}

.p30 {
  padding: 3 rem;
}

.mT35 {
  margin-top: 3.5rem;
}

.mB35 {
  margin-bottom: 3.5rem;
}

.mL35 {
  margin-left: 3.5 rem;
}

.mR35 {
  margin-right: 3.5 rem;
}

.p35 {
  margin: 3.5 rem;
}

.pT35 {
  padding-top: 3.5 rem;
}

.pB35 {
  padding-bottom: 3.5 rem;
}

.pL35 {
  padding-left: 3.5 rem;
}

.pR35 {
  padding-right: 3.5 rem;
}

.p35 {
  padding: 3.5 rem;
}

.mT40 {
  margin-top: 4rem;
}

.mB40 {
  margin-bottom: 4rem;
}

.mL40 {
  margin-left: 4 rem;
}

.mR40 {
  margin-right: 4 rem;
}

.p40 {
  margin: 4 rem;
}

.pT40 {
  padding-top: 4 rem;
}

.pB40 {
  padding-bottom: 4 rem;
}

.pL40 {
  padding-left: 4 rem;
}

.pR40 {
  padding-right: 4 rem;
}

.p40 {
  padding: 4 rem;
}

.mT45 {
  margin-top: 4.5rem;
}

.mB45 {
  margin-bottom: 4.5rem;
}

.mL45 {
  margin-left: 4.5 rem;
}

.mR45 {
  margin-right: 4.5 rem;
}

.p45 {
  margin: 4.5 rem;
}

.pT45 {
  padding-top: 4.5 rem;
}

.pB45 {
  padding-bottom: 4.5 rem;
}

.pL45 {
  padding-left: 4.5 rem;
}

.pR45 {
  padding-right: 4.5 rem;
}

.p45 {
  padding: 4.5 rem;
}

.mT50 {
  margin-top: 5rem;
}

.mB50 {
  margin-bottom: 5rem;
}

.mL50 {
  margin-left: 5 rem;
}

.mR50 {
  margin-right: 5 rem;
}

.p50 {
  margin: 5 rem;
}

.pT50 {
  padding-top: 5 rem;
}

.pB50 {
  padding-bottom: 5 rem;
}

.pL50 {
  padding-left: 5 rem;
}

.pR50 {
  padding-right: 5 rem;
}

.p50 {
  padding: 5 rem;
}

.tCenter {
  text-align: center !important;
}

.tLeft {
  text-align: left !important;
}

.tRight {
  text-align: right !important;
}

h1.title1 {
  font-size: 2.4rem;
  letter-spacing: -0.04rem;
  line-height: 3rem;
  font-weight: 400;
}

h2.title2 {
  font-size: 2.2rem;
  letter-spacing: -0.04rem;
  line-height: 2.6rem;
}

h3.title3 {
  font-size: 2rem;
  letter-spacing: -0.04rem;
  line-height: 2.4rem;
}

.subTitle1 {
  font-size: 1.8rem;
  letter-spacing: -0.04rem;
  line-height: 2.2rem;
}

.subTitle2 {
  font-size: 1.6rem;
  letter-spacing: -0.04rem;
  line-height: 2rem;
}

.subText1 {
  font-size: 1.4rem;
  letter-spacing: -0.04rem;
  line-height: 1.8rem;
}

.btnType1 {
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #555;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}
.btnType1:hover {
  background-color: #222;
  transition: 0.4s;
}

.inputType1 label {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
}
.inputType1 input {
  border: 0.1rem solid #ccc;
  font-size: 1.6rem;
  padding: 1.4rem;
}

.textBox1 label {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
}
.textBox1 textarea {
  border: 0.1rem solid #ccc;
  font-size: 1.6rem;
  padding: 1.4rem;
  min-height: 15rem;
}

.tableCol table {
  width: 100%;
  border-top: 0.1rem solid #222;
}
.tableCol table thead tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  text-align: center;
  padding: 1.2rem 1.5rem;
}
.tableCol table thead tr th:last-child {
  border-right: 0;
}
.tableCol table tbody tr td {
  font-size: 1.4rem;
  color: #555;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}
.tableCol table tbody tr td:last-child {
  border-right: 0;
}

.tableRow table {
  width: 100%;
  border-top: 0.1rem solid #222;
}
.tableRow table thead tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  text-align: center;
  padding: 1.2rem 1.5rem;
}
.tableRow table thead tr th:last-child {
  border-right: 0;
}
.tableRow table tbody tr th {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}
.tableRow table tbody tr td {
  font-size: 1.4rem;
  color: #555;
  border-bottom: 0.1rem solid #eee;
  border-right: 0.1rem solid #eee;
  padding: 1.2rem 1.5rem;
}
.tableRow table tbody tr td:last-child {
  border-right: 0;
}

.typeDot > li {
  font-size: 1.4rem;
  letter-spacing: -0.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 0.8rem;
}
.typeDot > li::before {
  content: " ";
  width: 0.2rem;
  height: 0.2rem;
  background-color: #222;
  position: absolute;
  left: 0;
  top: 0.9rem;
}
.typeDot > li:last-child {
  margin-bottom: 0;
}

.typeHy > li {
  font-size: 1.4rem;
  letter-spacing: -0.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}
.typeHy > li::before {
  content: "- ";
}
.typeHy > li:last-child {
  margin-bottom: 0;
}

.typeNum {
  list-style: auto;
  padding-left: 1.45rem;
}
.typeNum li {
  list-style: inherit;
  font-size: 1.4rem;
  letter-spacing: -0.04rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

.paging ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging ul li {
  margin: 0 0.2rem;
}
.paging .paging_num {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}
.paging .paging_num a {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
}
.paging .paging_num.paging_num_on {
  border: 1px solid #eb6565 !important;
}
.paging .paging_num.paging_num_on a {
  color: #eb6565 !important;
}

.guideAcc .accItem + .accItem {
  margin-top: 10px;
}
.guideAcc .q .qBtn {
  display: block;
  width: 100%;
  padding: 20px 10px;
  text-align: left;
  font-size: 0;
  line-height: 0;
}
.guideAcc .q .qBtn .accTitle {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  vertical-align: top;
}
.guideAcc .q .qBtn .accTitle:before {
  display: inline-block;
  content: "Q";
  font-size: 20px;
  line-height: 1;
  margin-right: 10px;
  vertical-align: top;
}
.guideAcc .q .qBtn .accQuery {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  line-height: 1.5;
}
.guideAcc .a {
  display: none;
  position: relative;
  padding: 10px;
}
.guideAcc .a .accCon {
  position: relative;
  padding-left: 30px;
  font-size: 1.6rem;
}
.guideAcc .a .accCon:before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  content: "A";
  color: #a50034;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  vertical-align: top;
}