#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.1);
}

#header .headerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 8rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 4rem;
}

#header .headerWrap #gnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
