#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.1);
}
#header .headerWrap {
  display: flex;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
#header .headerWrap .logo a {
  font-size: 2.8rem;
  color: #ffffff;
  font-weight: 600;
}
#header .headerWrap .logo a span {
  font-size: 3rem;
  font-weight: 700;
  padding-right: 1rem;
}
#header .headerWrap #gnb > ul {
  display: flex;
}
#header .headerWrap #gnb > ul > li {
  margin: 0 2.5rem;
  position: relative;
}
#header .headerWrap #gnb > ul > li.aPoint {
  position: relative;
}
#header .headerWrap #gnb > ul > li.aPoint::before {
  display: block;
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  right: -1rem;
  border-radius: 50%;
  background-color: #D00042;
}
#header .headerWrap #gnb > ul > li.gnbOn > ul {
  height: auto;
}
#header .headerWrap #gnb > ul > li > ul {
  position: absolute;
  height: 0;
  overflow: hidden;
}
#header .headerWrap #gnb > ul > li > ul li a {
  color: #000000;
}
#header .headerWrap #gnb > ul > li a {
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffffff;
}
#header .headerWrap .logMenu a {
  background-image: url(../../images/icon/ico.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 1.9rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #d4d4d4;
}
#header .headerWrap .logMenu a span {
  width: 0.1rem;
  height: 1rem;
  margin: 0 0.8rem;
  display: inline-block;
  background-color: #d4d4d4;
  transform: rotate(24.15deg);
}

#footer {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 4rem;
}
#footer .footerCon {
  border-bottom: 0.1rem solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}
#footer .footerCon ul {
  display: flex;
  align-items: center;
}
#footer .footerCon .footerMenu li {
  margin-right: 2rem;
}
#footer .footerCon .footerMenu li a {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #6b6b6b;
}
#footer .footerCon .footerMenu li a strong {
  color: #000000;
}
#footer .footerCon .subscribe li {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #000000;
  font-weight: 600;
  margin-left: 2rem;
}
#footer .footerCon .subscribe .scribeBox {
  width: 60rem;
  height: 5.6rem;
  background-color: #ffffff;
  border-radius: 2.8rem;
  display: flex;
  justify-content: space-between;
}
#footer .footerCon .subscribe .scribeBox > span {
  width: calc(100% - 12rem);
  display: block;
}
#footer .footerCon .subscribe .scribeBox > span input {
  padding: 0 0 0 3rem;
  width: 100%;
}
#footer .copyright {
  margin-top: 4rem;
}
#footer .copyright p {
  font-size: 3rem;
  font-weight: 600;
  color: #aeaeae;
  margin-bottom: 1.5rem;
}
#footer .copyright p span {
  font-size: 3rem;
  font-weight: 700;
  color: #a50034;
  padding-right: 1rem;
}
#footer .copyright span {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #aeaeae;
}

#lnb {
  width: 34rem;
  height: auto;
  background-color: #ffffff;
  box-shadow: 1rem 0.8rem 4rem rgba(0, 0, 0, 0.06);
  border-radius: 1.5rem;
  padding: 3.7rem 2rem 4rem;
}
#lnb .lnbLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lnb .lnbLogo span:first-child {
  margin-right: 0.4rem;
}
#lnb .lnbLogo span img {
  vertical-align: middle;
}
#lnb .lnbSearch {
  width: 100%;
  height: 5.4rem;
  border-radius: 2.7rem;
  background-color: #F5F5F5;
  padding: 0 2rem;
  margin: 4rem 0 5rem;
}
#lnb .lnbSearch input {
  width: calc(100% - 3rem);
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
}
#lnb .lnbSearch input::-moz-placeholder {
  color: #aeaeae;
}
#lnb .lnbSearch input:-ms-input-placeholder {
  color: #aeaeae;
}
#lnb .lnbSearch input::placeholder {
  color: #aeaeae;
}
#lnb .lnbMenu li {
  margin-bottom: 3rem;
  padding: 0 2rem;
}
#lnb .lnbMenu li:last-child {
  margin-bottom: 0;
}
#lnb .lnbMenu li a {
  display: inline-block;
  padding-left: 3.9rem;
  background-position: left center;
  background-repeat: no-repeat;
}
#lnb .lnbMenu li a span {
  font-size: 1.7rem;
  line-height: 2.3rem;
  letter-spacing: -0.02em;
  color: #1D1D1B;
}
#lnb .lnbMenu li a:hover span, #lnb .lnbMenu li a:focus span {
  color: #a50034;
  font-weight: 600;
}
#lnb .lnbMenu li.lnbMenuOn a span {
  color: #a50034;
  font-weight: 600;
}
#lnb .lnbMenu li.lnbIco01 a {
  background-image: url(../../images/icon/lnbIco01.png);
}
#lnb .lnbMenu li.lnbIco02 a {
  background-image: url(../../images/icon/lnbIco02.png);
}
#lnb .lnbMenu li.lnbIco03 a {
  background-image: url(../../images/icon/lnbIco03.png);
}
#lnb .lnbMenu li.lnbIco04 a {
  background-image: url(../../images/icon/lnbIco04.png);
}
#lnb .lnbMenu li.lnbIco05 a {
  background-image: url(../../images/icon/lnbIco05.png);
}
#lnb .lnbMenu li.lnbIco06 a {
  background-image: url(../../images/icon/lnbIco06.png);
}
#lnb .lnbSns {
  padding: 8rem 2rem;
}
#lnb .lnbSns h4 {
  font-weight: 600;
  color: #1D1D1B;
  letter-spacing: -0.02em;
}
#lnb .lnbSns ul {
  display: flex;
}
#lnb .lnbSns ul li {
  margin-right: 1.2rem;
}
#lnb .lnbSns ul li:last-child {
  margin-right: 0;
}
#lnb .lnbSns ul li a {
  background-image: url(../../images/icon/sns.png);
  background-repeat: no-repeat;
  display: block;
  width: 5.6rem;
  height: 5.6rem;
}
#lnb .lnbSns ul li a:hover, #lnb .lnbSns ul li a:focus {
  background-image: url(../../images/icon/snsOn.png);
}
#lnb .lnbSns ul li.sns01 a {
  background-position: left;
}
#lnb .lnbSns ul li.sns02 a {
  background-position: -6.8rem;
}
#lnb .lnbSns ul li.sns03 a {
  background-position: -13.6rem;
}
#lnb .lnbSns ul li.sns04 a {
  background-position: -20.4rem;
}
#lnb .postList h5 {
  font-weight: 600;
  color: #1D1D1B;
  padding: 0 2rem 0.4rem;
}
#lnb .postList ul li {
  padding: 2.6rem 1.5rem;
  border-radius: 1rem;
}
#lnb .postList ul li:nth-child(2n) {
  background-color: #f5f5f5;
}
#lnb .postList ul li a {
  display: block;
}
#lnb .postList ul li a .postTitle {
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: -0.02em;
  color: #1D1D1B;
  margin-bottom: 1.5rem;
}
#lnb .postList ul li a .postCon {
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: -0.02em;
  color: #1D1D1B;
}
#lnb .postList ul li a .postCon .pointC {
  color: #a50034;
  position: relative;
  padding-right: 1.1rem;
  margin-right: 1rem;
}
#lnb .postList ul li a .postCon .pointC::before {
  display: block;
  width: 0.1rem;
  height: 1.1rem;
  background-color: #d9dadb;
  position: absolute;
  right: 0;
  top: 0.5rem;
}