body,
html {
  height: 100%;
}

.mainPage01 {
  width: 100%;
  height: 100%;
  padding-top: 8rem;
}

.mainPage02 {
  width: 100%;
  height: 100%;
}

.mainPage03 {
  width: 100%;
  height: 100%;
}

.mainPage04 {
  width: 100%;
  height: 100%;
}

.mainNav {
  position: fixed;
  top: 10rem;
  left: 5rem;
}
