<div class="tab-2">
  <h2>02. Button</h2>
  <div>
    <h6 class="mB10">1) 라인버튼(class="btn")</h6>
    <p class="mB10">작은버튼 smail 큰버튼 large</p>
    <!-- <button type="button" class="btnType1 lg">버튼 1</button> -->
    <a href="#" class="btn smail">라인버튼</a>
    <a href="#" class="btn">라인버튼</a>
    <a href="#" class="btn large">라인버튼</a>

    <h6 class="mT10 mB10">2) 채운버튼(class="btn type2")</h6>
    <a href="#" class="btn type2 smail">라인버튼</a>
    <a href="#" class="btn type2">라인버튼</a>
    <a href="#" class="btn type2 large">라인버튼</a>

    <h6 class="mT10 mB10">3) 비활성버튼(class="btn disabl")</h6>
    <a href="#" class="btn disabl smail">라인버튼</a>
    <a href="#" class="btn disabl">라인버튼</a>
    <a href="#" class="btn disabl large">라인버튼</a>

    <h6 class="mT10 mB10">4) 라운드버튼(class="btn type2 round")</h6>
    <a href="#" class="btn type2 round smail">라운드버튼</a>
    <a href="#" class="btn type2 round">라운드버튼</a>
    <a href="#" class="btn type2 round large">라운드버튼</a>

    <h6 class="mT10 mB10">5) 더보기 버튼(class="btn more round")</h6>
    <a href="#" class="btn more round smail">더보기</a>
    <a href="#" class="btn more round">더보기</a>
    <a href="#" class="btn more round large">더보기</a>
  </div>
</div>
