<div id="skipNav">
  <p><a href="#mainContainer">본문바로가기</a></p>
  <p><a href="#gnb">주메뉴바로가기</a></p>
</div>
<header id="header">
  <ul class="headerWrap">
    <li class="logo">
      <a href="#" title="메인으로"><span>LG</span>Careers</a>
    </li>
    <li id="gnb">
      <ul>
        <li>
          <a href="#">Cultrue</a>
          <ul>
            <li><a href="#">LG Way</a></li>
            <li><a href="#">Learn LG</a></li>
            <li><a href="#">근무지 소개</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Channel</a>
        </li>
        <li>
          <a href="#">Story</a>
          <ul>
            <li><a href="#">CSR</a></li>
            <li><a href="#">Story</a></li>
          </ul>
        </li>
        <li>
          <a href="#">People</a>
          <ul>
            <li><a href="#">LG 유명인</a></li>
            <li><a href="#">합격의 기술</a></li>
            <li><a href="#">입사 선배 이야기</a></li>
          </ul>
        </li>
        <li class="aPoint"><a href="#">Apply</a></li>
      </ul>
    </li>
    <li class="logMenu">
      <div><svg width="17" height="17" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2224_678)">
        <path d="M9.69655 9.17858C11.9343 9.17858 13.7483 7.43519 13.7483 5.2846C13.7483 3.13402 11.9343 1.39062 9.69655 1.39062C7.45881 1.39062 5.64476 3.13402 5.64476 5.2846C5.64476 7.43519 7.45881 9.17858 9.69655 9.17858Z" stroke="#6B6B6B" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M17.2734 16.3906C17.2734 12.4059 13.9144 9.17769 9.76819 9.17769C5.62193 9.17769 2.27344 12.4059 2.27344 16.3906H17.2734Z" stroke="#6B6B6B" stroke-linecap="square" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_2224_678">
        <rect width="17" height="17" fill="white" transform="translate(0.996094 0.75)"/>
        </clipPath>
        </defs>
        </svg>
        <a href="#">로그인</a><span></span><a href="#">회원가입</a></div>
    </li>
  </ul>
</header>
