<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LG Careers</title>
  <link rel="stylesheet" type="text/css" href="/common/css/main.css" />
  <script src="/common/js/lib/jquery-3.6.0.min.js"></script>
  <script src="/common/js/lib/slick.1.8.0.js"></script>
  <script src="/common/js/lib/jquery.mousewheel.js"></script>
  <script src="/common/js/lib/jquery.scrollbar.js"></script>
  <script src="/common/js/layout.js"></script>
  <script src="/common/js/main.js"></script>
</head>