<div id="lnb" class="mypageLnb">
    <div class="lnbWrap">
        <h3>마이페이지</h3>
        <div>
            <ul class="mypageMenu">
                <li class="active">
                    <a href="#">
                        <i><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2" y="3" width="18" height="17" rx="2" stroke="#AEAEAE" stroke-width="2"/>
                        <path d="M9 12H13M7 1L7 6M15 1V6" stroke="#AEAEAE" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                        </svg></i>지원현황
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_7228_45219)">
                        <path d="M17.803 18.5775L17.0653 14.3376C17.0653 14.3376 19.952 11.5111 20.0867 11.3843C21.5879 9.93937 21.2992 8.50708 19.5351 8.00641L14.7623 7.32196L12.6839 3.16453C11.7216 1.61182 10.3296 1.61182 9.37375 3.16453L7.2953 7.32196L2.52256 8.00641C0.752028 8.50708 0.469769 9.93937 1.97087 11.3843C2.09917 11.5111 4.99232 14.3376 4.99232 14.3376L4.2546 18.5775C3.96593 20.7069 5.30024 21.6068 7.2953 20.5674C7.47492 20.4724 11.0288 18.6725 11.0288 18.6725C11.0288 18.6725 14.5827 20.4724 14.7623 20.5674C16.7574 21.6068 18.0981 20.7069 17.803 18.5775V18.5775Z" stroke="#AEAEAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_7228_45219">
                        <rect width="22" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg></i>관심공고
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 21H20M4.08385 10.9167L12.844 2.06448C14.2485 0.645174 16.5421 0.645174 17.9466 2.06448C19.3511 3.48378 19.3511 5.80144 17.9466 7.22074L9.18648 16.0729L3 17L4.08385 10.9167Z" stroke="#AEAEAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></i>정보수정
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6 9.08594H9M17.9545 1H4.04545C2.91657 1 2 1.98827 2 3.20547V21L6.74338 16.2931H17.9545C19.0834 16.2931 20 15.3049 20 14.0877V3.20547C20 1.98827 19.0834 1 17.9545 1Z" stroke="#AEAEAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></i>문의내역
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                    <i><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.7551 11.0044H10.7134M20.7551 11.0044L17.2038 7.45312M20.7551 11.0044L17.2038 14.5557M15.2444 2.77283C13.9708 2.11155 12.5307 1.73438 11.0024 1.73438C5.88365 1.73438 1.73474 5.88329 1.73474 11.0021C1.73474 16.1209 5.88365 20.2698 11.0024 20.2698C12.5356 20.2698 13.9757 19.8926 15.2444 19.2313" stroke="#AEAEAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></i>로그아웃
                </a>
                </li>
                <li>
                    <a href="#">
                        <i><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 8L11 11M11 11L8 14M11 11L8 8M11 11L14 14M21 11C21 16.5228 16.5228 21 11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11Z" stroke="#AEAEAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </i>회원탈퇴
                    </a>
                </li>
            </ul>
        </div>
        <div class="mySNS">
            <h5>SNS 계정 연동하기</h5>
            <ul>
                <li><a href="#"><img src="/common/images/icon/kakao.png" alt="카카오톡"></a></li>
                <li><a href="#"><img src="/common/images/icon/google2.png" alt="구글"></a></li>
            </ul>
        </div>
    </div>
</div>