<div id="lnb" class="recruitLnb">
    <div class="lnbWrap">
        <div class="rcLnbT">
            <h5>검색</h5>
            <button type="button" class="btn reset">초기화<i><svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2296_12352)">
                <path d="M11.1221 4.86709C12.2252 5.97019 12.9032 7.48821 12.9032 9.15804C12.9032 10.8279 12.2252 12.356 11.1221 13.449C10.019 14.5521 8.50097 15.2301 6.83114 15.2301C5.16131 15.2301 3.63316 14.5521 2.54018 13.449C1.43709 12.3459 0.759033 10.8279 0.759033 9.15804C0.759033 7.48821 1.43709 5.96007 2.54018 4.86709C3.64328 3.76399 5.16131 3.08594 6.83114 3.08594" stroke="#6B6B6B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.88623 0.757812L7.48901 2.73125L5.51558 6.32391" stroke="#6B6B6B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_2296_12352">
                <rect width="13.6622" height="16" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                </i>
            </button>
        </div><!-- rcLnbT -->
        <div class="lnbSearch">
            <span class="inputBox type2">
                <input type="text" id="lnbSearch" placeholder="키워드를 입력하세요" />
                <label for="lnbSearch">검색</label>
            </span>
            <a href="#" class="btn ico"><img src="/common/images/icon/searchBtnBk.png" alt="검색버튼" /></a>
        </div>
        <ul class="guideAcc type3">
            <li class="accItem" data-num="1">
              <div class="q">
                <button class="qBtn" title="닫기">
                  <div class="accTitle">구분</div>
                </button>
              </div>
              <div class="a" title="열림">
                <div class="accCon">
                  121212
                </div>
              </div>
            </li>
            <li class="accItem" data-num="2">
                <div class="q">
                  <button class="qBtn" title="닫기">
                    <div class="accTitle">분야</div>
                  </button>
                </div>
                <div class="a" title="열림">
                  <div class="accCon">
                    121212
                  </div>
                </div>
              </li>
              <li class="accItem" data-num="3">
                <div class="q">
                  <button class="qBtn" title="닫기">
                    <div class="accTitle">회사</div>
                  </button>
                </div>
                <div class="a" title="열림">
                  <div class="accCon">
                    121212
                  </div>
                </div>
              </li>
              <li class="accItem" data-num="4">
                <div class="q">
                  <button class="qBtn" title="닫기">
                    <div class="accTitle">지역</div>
                  </button>
                </div>
                <div class="a" title="열림">
                  <div class="accCon">
                    121212
                  </div>
                </div>
              </li>
          </ul>
    </div>
    <p class="lnbGuideTxt">
      관심있는 해쉬태그를 눌러보세요!<br>
      관련 된 공고를 모아볼 수 있어요.
    </p>
</div>