<div id="lnb" class="recruitLnb">
    <div class="lnbWrap">
      <div>
        <a href="#" class="btn type5 round icon"><i><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.5475 14.9077V17.8205C19.5475 19.0257 18.5703 20 17.3615 20H5.686C4.47715 20 3.5 19.0257 3.5 17.8205V6.17954C3.5 4.97426 4.47715 4 5.686 4H10.6322" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M21.6324 4.89453L14.067 12.4375L10.2793 8.67105" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></i>지원하기
        </a>
      </div>
      <div class="mT12">
        <a href="#" class="btn round icon"><i><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.8252 0.542636L13.1988 5.57237C13.332 5.86003 13.5902 6.06052 13.8983 6.10411L19.2035 6.91479C19.9614 7.02812 20.2696 8.00443 19.7199 8.57103L15.8805 12.485C15.664 12.7116 15.564 13.0254 15.614 13.3393L16.5218 18.8659C16.655 19.6591 15.8555 20.2606 15.1809 19.8858L10.4421 17.2794C10.1755 17.1312 9.85074 17.1312 9.58423 17.2794L4.84537 19.8858C4.16244 20.2606 3.37124 19.6591 3.50449 18.8659L4.41229 13.3393C4.46226 13.0254 4.36232 12.7029 4.14578 12.485L0.281398 8.56231C-0.268277 8.00442 0.0315458 7.02812 0.797759 6.90608L6.10296 6.09539C6.40278 6.05181 6.66929 5.85132 6.80254 5.56365L9.15948 0.542636C9.50095 -0.180879 10.4837 -0.180879 10.8168 0.542636H10.8252Z" fill="#D9DADB"/>
          </svg></i>관심채용</a>
      </div>

      <div class="postList">
        <h5>이런 직무는 어떠세요?</h5>
        <ul>
            <li>
                <a href="#">
                    <p class="postTitle">파주 임직원비서직 채용 공고(계약직)</p>
                    <p class="postCon">
                        <span class="pointC">D-1</span><span>LG전자</span><span>신입</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="postTitle">파주 임직원비서직 채용 공고(계약직)</p>
                    <p class="postCon">
                        <span class="pointC">D-1</span><span>LG전자</span><span>경력</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="postTitle">[BS본부] EV 충전사업 SW개발 
                      경력사원 채용</p>
                    <p class="postCon">
                        <span class="pointC">D-1</span><span>LG전자</span><span>경력</span>
                    </p>
                </a>
            </li>
            <li>
              <a href="#">
                  <p class="postTitle">[BS본부] EV 충전사업 SW개발 
                    경력사원 채용</p>
                  <p class="postCon">
                      <span class="pointC">D-1</span><span>LG전자</span><span>경력</span>
                  </p>
              </a>
          </li>
        </ul>
    </div>
    </div>
</div> 